In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Incident_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(39718, 43)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_6482/3275636319.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Incident_20250422.csv')

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
0,2019004076,JCPD,IDENTITY THEFT,09/17/2019 10:29:00 AM,1029,09/12/2019 08:00:00 AM,800.0,09/17/2019 10:29:00 AM,1029.0,52XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121231079102, -84.2033233642578)",5.0,60.0
1,2025000666,JCPD,TRAFFIC ARREST,02/16/2025 12:05:00 PM,1205,02/16/2025 12:04:59 PM,1204.0,02/16/2025 12:05:00 PM,1205.0,95XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0115814208984, -84.2828598022461)",NaN,NaN
2,2024000775,JCPD,LARCENY - SHOPLIFTING,02/22/2024 06:22:00 PM,1822,02/10/2024 02:11:59 PM,1411.0,02/22/2024 06:22:00 PM,1822.0,59XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121078491211, -84.1879119873047)",3.0,NaN
3,2010001436,JCPD,HIT AND RUN,04/20/2010 09:05:31 AM,905,02/16/2010 09:20:00 AM,920.0,02/16/2010 11:45:00 AM,1145.0,111XX,...,18.0,PARKING LOT /GARAGE,N,N,NONE,NaN,NaN,"(29.802906036377, -91.3952789306641)",NaN,NaN
4,2022000970,JCPD,IDENTITY THEFT,03/04/2022 02:08:00 PM,1408,02/18/2022 12:00:00 PM,1200.0,02/18/2022 12:00:00 PM,1200.0,61XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0386390686035, -84.1784057617188)",3.0,NaN

In [4]:
list(dfCrime.columns)

['Case Number',
 'Police Agency Code',
 'Offense',
 'Date/Time Reported',
 'Hour Reported',
 'Date/Time Occurred',
 'Hour Occurred',
 'Date/Time Found',
 'Hour Found',
 'Street Number',
 'Street Direction',
 'Street Name',
 'Apartment/Floor',
 'city',
 'state',
 'zip',
 'geox',
 'geoy',
 'Reported As',
 'Tract Code',
 'Tract Description',
 'Zone Code',
 'Zone Description',
 'District Code',
 'District Description',
 'Reporting Area Code',
 'Reporting Area Description',
 'Neighborhood Code',
 'Neighborhood Description',
 'Subdivision Code',
 'Subdivision Description',
 'Weather Code',
 'Weather Description',
 'Location Code',
 'Location Description',
 'Forcible',
 'Weapon Code',
 'Weapon Description',
 'Incident Disposition Code',
 'Incident Disposition Descr.',
 'location',
 'Beats',
 'Neighborhoods']

In [7]:
dfCrime['Date/Time Occurred'] = pd.to_datetime(dfCrime['Date/Time Occurred'])
dfCrime.head()

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
0,2019004076,JCPD,IDENTITY THEFT,09/17/2019 10:29:00 AM,1029,2019-09-12 08:00:00,800.0,09/17/2019 10:29:00 AM,1029.0,52XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121231079102, -84.2033233642578)",5.0,60.0
1,2025000666,JCPD,TRAFFIC ARREST,02/16/2025 12:05:00 PM,1205,2025-02-16 12:04:59,1204.0,02/16/2025 12:05:00 PM,1205.0,95XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0115814208984, -84.2828598022461)",NaN,NaN
2,2024000775,JCPD,LARCENY - SHOPLIFTING,02/22/2024 06:22:00 PM,1822,2024-02-10 14:11:59,1411.0,02/22/2024 06:22:00 PM,1822.0,59XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121078491211, -84.1879119873047)",3.0,NaN
3,2010001436,JCPD,HIT AND RUN,04/20/2010 09:05:31 AM,905,2010-02-16 09:20:00,920.0,02/16/2010 11:45:00 AM,1145.0,111XX,...,18.0,PARKING LOT /GARAGE,N,N,NONE,NaN,NaN,"(29.802906036377, -91.3952789306641)",NaN,NaN
4,2022000970,JCPD,IDENTITY THEFT,03/04/2022 02:08:00 PM,1408,2022-02-18 12:00:00,1200.0,02/18/2022 12:00:00 PM,1200.0,61XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0386390686035, -84.1784057617188)",3.0,NaN

In [9]:
dfCrime = dfCrime.loc[(dfCrime['Date/Time Occurred'] >= '2019-01-01') & (dfCrime['Date/Time Occurred'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(2944, 43)

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
0,2019004076,JCPD,IDENTITY THEFT,09/17/2019 10:29:00 AM,1029,2019-09-12 08:00:00,800.0,09/17/2019 10:29:00 AM,1029.0,52XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121231079102, -84.2033233642578)",5.0,60.0
13,2019004547,JCPD,PERSON DEAD,10/15/2019 04:26:55 PM,1626,2019-10-15 16:26:54,1626.0,10/15/2019 04:26:55 PM,1626.0,20XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(33.9990653991699, -84.2744522094727)",NaN,NaN
28,2020000409,JCPD,FRAUD - IMPERSONATION,01/27/2020 09:30:00 AM,930,2019-12-16 00:00:00,0.0,12/16/2019 12:00:00 AM,0.0,3XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(33.9899063110352, -84.2644577026367)",7.0,NaN
62,2019004975,JCPD,IDENTITY THEFT,11/12/2019 09:25:00 AM,925,2019-08-30 09:25:00,925.0,11/12/2019 09:25:00 AM,925.0,2XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0574569702148, -84.2019424438477)",1.0,242.0
65,2019004001,JCPD,TRAFFIC ARREST,09/12/2019 11:32:00 AM,1132,2019-09-12 11:31:59,1131.0,09/12/2019 11:32:00 AM,1132.0,60XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0343780517578, -84.1875381469727)",4.0,NaN

In [11]:
sorted(list(dfCrime['Offense'].unique()))

['AGG ASSAULT/ AGG BATTERY-GUN',
 'AGGRAVATED ASSAULT - NONFAMILY - OTHER WEAPON',
 'AGGRAVATED STALKING',
 'AMPHETAMINE-POSSESSION OF',
 'ARSON - FREE TEXT/ALL OTHER',
 'BURGLARY - NONRESIDENCE - FORCED ENTRY',
 'BURGLARY - NONRESIDENCE - NO FORCE ENTRY',
 'BURGLARY - OTHER',
 'BURGLARY - RESIDENCE - FORCED ENTRY',
 'BURGLARY - RESIDENCE - NO FORCED ENTRY',
 'CARRYING A PROHIBITED WEAPON',
 'CITY ORDINANCE VIOLATION',
 'COCAINE- WITH INTENT',
 'COCAINE-POSSESSION',
 'COUNTERFEITING OF -(OBJECT)',
 'CRIMINAL DAMAGE TO PROPERTY',
 'CRIMINAL TRESPASS',
 'CRUELTY TO ANIMALS',
 'CRUELTY TOWARD CHILD',
 'DAMAGED OR LOST CITY PROPERTY',
 'DANGEROUS DRUGS OTHER OFFENSE',
 'DEMENTED PERSON',
 'DISORDERLY CONDUCT',
 'DRIVING UNDER THE INFLUENCE - ALCHOL',
 'DRIVING UNDER THE INFLUENCE - DRUGS',
 'EMBEZZLEMENT/THEFT BY CONVERSION- FINANCIAL INSTITUTION PROP',
 'FAILURE TO APPEAR',
 'FALSE IMPRISONMENT - MINOR - NONPARENTAL',
 'FALSE IMPRISONMENT - MINOR - PARENTAL',
 'FAMILY OFF. (INTERFERE W/ CUST.; UNRULY CHILD; ETC)',
 'FLIGHT / ESCAPE  - OTHER',
 'FLIGHT TO AVOID PROSECUTION',
 'FORGERY - OTHER',
 'FORGERY- OF CHECK',
 'FORGERY- OF OTHER OBJECTS',
 'FRAUD - CONFIDENCE GAME',
 'FRAUD - ILLEGAL USE OF CREDIT / FTC',
 'FRAUD - IMPERSONATION',
 'FRAUD - INSUFFICIENT FUNDS CHECK',
 'FRAUD - SWINDLE',
 'FRAUD AND ABUSE - COMPUTER',
 'FRAUD BY WIRE',
 'FRAUDULENT ACTIVITY - OTHER',
 'HALLUCINOGEN-POSSESSION OF',
 'HARASSING COMMUNICATIONS',
 'HEROIN-POSSESSION OF',
 'HEROIN-WITH INTENT',
 'HIT AND RUN',
 'IDENTITY THEFT',
 'INDECENT EXPOSURE',
 'INDECENT EXPOSURE TO MINOR',
 'INTERFERENCE WITH GOVERNMENT PROPERTY',
 'INVASION OF PRIVACY - OTHER OFFENSE',
 'LARCENY - FROM BUILDING',
 'LARCENY - FROM MAIL',
 'LARCENY - FROM RESIDENTIAL MAILBOX',
 'LARCENY - FROM VEHICLE',
 'LARCENY - FROM YARDS',
 'LARCENY - OTHER OFFENSES',
 'LARCENY - PARTS FROM VEHICLE',
 'LARCENY - POCKET PICKING',
 'LARCENY - SHOPLIFTING',
 'LIQ LAW VIOL - OTHER (UN/ AGE DRINK  ETC)',
 'LOITERING AND PROWLING',
 'LOST & MISLAID PROPERTY',
 'MARIJUANA - MANUFACTURING',
 'MARIJUANA POSS OF',
 'MARIJUANA- WITH INTENT',
 'MARIJUANA-SALES OF',
 'MISCELLANEOUS REPORT',
 'MISSING PERSON',
 'OBSTRUCTING JUSTICE',
 'OBSTRUCTING OFFICER / CRIIMINAL INV.',
 'PASS COUNTERFEITED OBJECT',
 'PERSON DEAD',
 'POSSESSION OF DRUG RELATED ITEMS/NARCOTIC EQUIPEMENT',
 'PROBATION VIOLATION',
 'RECKLESS CONDUCT',
 'RECOVERED PROPERTY',
 'RECOVERED/FOUND PROPERTY',
 'ROBBERY - OTHER',
 'ROBBERY-BUSINESS-GUN',
 'ROBBERY-STREET-GUN',
 'RUNAWAY JUVENILE',
 'SEXUAL ASSAULT - OTHER',
 'SIMPLE ASSAULT / BATTERY',
 'STALKING',
 'STOLEN MOTOR VEHICLE RECOVERED',
 'SUSPICIOUS ACTIVITY',
 'SYNTHETIC NARCOTIC- WITH INTENT',
 'SYNTHETIC NARCOTIC-POSSESSION OF',
 'TERRORISTIC THREATS AND ACTS',
 'THEFT AND USE AUTOMOBILE FOR OTHER CRIME',
 'THEFT BY EXTORTION',
 'THEFT BY RECEIVING STOLEN PROPERTY',
 'THEFT BY TAKING MOTOR VEHICLE',
 'THEFT OF OTHER VEHICLES',
 'TRAFFIC ARREST',
 'VEHICLE FATALITY',
 'VEHICLE IMPOUND',
 'VERBAL DISPUTE',
 'VIOLATION OF A COURT ORDER',
 'WANTED PERSON LOCATED',
 'WEAPONS OFFENSES - OTHER']

In [13]:
violentCrimes = ['AGG ASSAULT/ AGG BATTERY-GUN', 'ROBBERY - OTHER', 'ROBBERY-BUSINESS-GUN', 'ROBBERY-BUSINESS-STRONGARM',
                'ROBBERY-FORCIBLE PURSE SNATCHING', 'ROBBERY-STREET-GUN', 'SEX OFFENSE - OTHER', 'SEXUAL ASSAULT - OTHER', 'PERSON DEAD']
dfCrime = dfCrime[dfCrime['Offense'].isin(violentCrimes)]
dfCrime = dfCrime[['Offense', 'geox', 'geoy']]
print(dfCrime.shape)
dfCrime.head()

(41, 3)

                           Offense       geox       geoy
13                     PERSON DEAD  33.999065 -84.274452
272                    PERSON DEAD  34.014065 -84.182510
493           ROBBERY-BUSINESS-GUN  34.067402 -84.169113
927   AGG ASSAULT/ AGG BATTERY-GUN  34.056568 -84.219757
1098                   PERSON DEAD  34.020573 -84.194244

In [15]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['geoy'], row['geox']), axis=1)
dfCrime = dfCrime[['Offense', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(41, 2)

,Offense,geometry
13,PERSON DEAD,POINT (-84.2744522094727 33.9990653991699)
272,PERSON DEAD,POINT (-84.18251037597661 34.0140647888184)
493,ROBBERY-BUSINESS-GUN,POINT (-84.1691131591797 34.0674018859863)
927,AGG ASSAULT/ AGG BATTERY-GUN,POINT (-84.2197570800781 34.056568145752)
1098,PERSON DEAD,POINT (-84.1942443847656 34.0205726623535)

In [17]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_13_bg_500k/cb_2018_13_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(5530, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,13,121,001600,1,1500000US131210016001,131210016001,1,BG,921684,2683,"POLYGON ((-84.364 33.771, -84.359 33.771, -84...."
1,13,095,000100,3,1500000US130950001003,130950001003,3,BG,944540,0,"POLYGON ((-84.112 31.58, -84.101 31.58, -84.10..."
2,13,245,001602,3,1500000US132450016023,132450016023,3,BG,750047,0,"POLYGON ((-82.043 33.49, -82.039 33.492, -82.0..."
3,13,067,031004,2,1500000US130670310042,130670310042,2,BG,874932,8814,"POLYGON ((-84.565 33.898, -84.564 33.902, -84...."
4,13,021,012300,2,1500000US130210123002,130210123002,2,BG,505441,0,"POLYGON ((-83.67 32.844, -83.67 32.844, -83.66..."

In [19]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                           Offense                geometry
13                     PERSON DEAD  POINT (-84.274 33.999)
272                    PERSON DEAD  POINT (-84.183 34.014)
493           ROBBERY-BUSINESS-GUN  POINT (-84.169 34.067)
927   AGG ASSAULT/ AGG BATTERY-GUN   POINT (-84.22 34.057)
1098                   PERSON DEAD  POINT (-84.194 34.021)

In [21]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(41, 13)

,Offense,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
13,PERSON DEAD,POINT (-84.274 33.999),2243,13,121,011424,1,1500000US131210114241,131210114241,1,BG,3039783,2371
272,PERSON DEAD,POINT (-84.183 34.014),3433,13,121,011623,2,1500000US131210116232,131210116232,2,BG,4338745,118423
493,ROBBERY-BUSINESS-GUN,POINT (-84.169 34.067),2775,13,121,011626,1,1500000US131210116261,131210116261,1,BG,3926842,10518
927,AGG ASSAULT/ AGG BATTERY-GUN,POINT (-84.22 34.057),3420,13,121,011620,3,1500000US131210116203,131210116203,3,BG,1560699,2270
1098,PERSON DEAD,POINT (-84.194 34.021),69,13,121,011625,1,1500000US131210116251,131210116251,1,BG,2101950,6085

In [23]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US131210116261    5
1500000US131210116222    5
1500000US131210116253    4
1500000US131210116131    4
1500000US131210116203    3
1500000US131210114241    2
1500000US131210116221    2
1500000US131210116232    2
1500000US131210116231    2
1500000US131210116223    2
1500000US131210114261    1
1500000US131210116121    1
1500000US131210114253    1
1500000US131210114242    1
1500000US131210116201    1
1500000US131171306041    1
1500000US131210116251    1
1500000US131210114143    1
1500000US131210114251    1
1500000US131210114271    1
Name: count, dtype: int64

In [25]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/J_Creek_violent_crime_by_BG.csv')