In [30]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [31]:
dfCrime = pd.read_csv('/Users/tanisha/Desktop/Baton_Rouge_Police_Crime_Incidents.csv')
print(dfCrime.shape)
dfCrime.head()

(137692, 27)

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,CRIME AGAINST,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
0,20-015483,EA76D5CB-1DF7-496E-A20B-A2F206BF9690,06/05/2019 09:00:00 AM,07/08/2021 08:59:35 AM,07/19/2021 01:27:35 PM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20-104032,7935EFE6-397F-447E-918E-C5ABAD7AB5AC,11/26/2020 02:03:00 AM,06/21/2021 01:16:13 PM,06/22/2021 02:05:56 PM,ATTEMPTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-097958,B365926C-CEAB-41F6-8083-4A7791FA5779,11/06/2020 04:56:00 PM,03/16/2021 12:39:21 PM,04/14/2021 12:12:51 PM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20-111522,847FEBF4-6DDF-4BDC-BC19-FD0969E41C84,12/22/2020 11:47:00 AM,12/22/2020 11:47:00 AM,08/13/2021 02:07:47 PM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20-063242,763F2C1B-731A-44E7-BD66-DDAC7CFDEECC,07/20/2020 10:18:00 PM,04/20/2021 09:09:30 AM,04/28/2021 08:18:03 AM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
dfCrime = dfCrime[(dfCrime['LATITUDE'].isna() == False) & (dfCrime['LONGITUDE'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(111861, 27)

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,CRIME AGAINST,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
48,21-050494,4556E1AB-71B9-475E-91FF-DFAE5047AF81,05/26/2021 09:37:13 AM,07/21/2021 01:01:29 PM,04/11/2023 12:42:51 PM,COMMITTED,20009 WALKER SOUTH RD,NaN,DENHAM SPRINGS,LA,...,PROPERTY,23H,ALL OTHER LARCENY,NaN,NaN,NaN,NaN,-90.85013,30.35630,POINT (-90.85013 30.3563)
113,21-065174,026968B5-8FA3-4921-B5E9-A8057848F3E2,07/04/2021 10:56:00 AM,07/04/2021 11:38:24 AM,07/29/2021 05:53:28 PM,COMMITTED,100 LAUREL STREET,NaN,BATON ROUGE,LA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90.90000,30.30000,POINT (-90.9 30.3)
177,21-065174,73A3A48E-2876-4C8A-BD88-BDE4E89CF074,07/04/2021 10:56:00 AM,07/04/2021 11:38:24 AM,07/29/2021 05:53:28 PM,COMMITTED,100 LAUREL STREET,NaN,BATON ROUGE,LA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90.90000,30.30000,POINT (-90.9 30.3)
387,23-012364,56E88D22-A763-4293-87CC-76492E45D547,02/07/2023 04:32:49 PM,02/08/2023 03:00:18 AM,03/12/2023 04:05:14 AM,ATTEMPTED,14335 PARK AVE,NaN,PRAIRIEVILLE,LA,...,PROPERTY,23F,THEFT FROM MOTOR VEHICLE,NaN,NaN,NaN,NaN,-90.97548,30.27971,POINT (-90.975475 30.279714)
8602,24-034156,BC1F1F49-AEF3-4C7C-9996-C76D1C461D34,04/07/2024 10:05:32 PM,04/16/2024 12:10:24 AM,05/19/2024 10:37:56 PM,COMMITTED,11620 KING RICHARD DR,NaN,BATON ROUGE,LA,...,PROPERTY,290,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,NaN,4.0,SHERWOOD FOREST,SHERWOOD FOREST,-91.05432,30.43876,POINT (-91.054325 30.438763)

In [37]:
dfCrime['REPORT DATE'] = pd.to_datetime(dfCrime['REPORT DATE'])
dfCrime = dfCrime[(dfCrime['REPORT DATE'] >= '2021-01-01') & (dfCrime['REPORT DATE'] < '2022-01-01')]
print(dfCrime.shape)
dfCrime.head()

(2170, 27)

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,CRIME AGAINST,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
9125,21-027198,48354004-977B-4C60-95B4-05FC44A17896,03/24/2021 03:49:00 AM,2021-03-26 09:19:58,04/06/2021 09:51:34 AM,COMMITTED,2700 PLANK RD,NaN,BATON ROUGE,LA,...,PROPERTY,120,ROBBERY,NaN,NaN,NaN,NaN,-90.16220,30.47240,POINT (-90.1622 30.4724)
18537,21-037369,D810B017-D993-44F6-985F-39C61FA43E8B,04/21/2021 01:14:41 AM,2021-04-22 04:49:33,05/01/2021 05:28:11 AM,COMMITTED,2320 S SHERWOOD FOREST BLVD,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,6.0,NaN,JONES CREEK,-91.05760,30.43187,POINT (-91.057596 30.431867)
18711,21-052514,462E3079-AE44-46A4-8372-4935C3D37BD9,05/31/2021 07:59:00 PM,2021-09-07 08:11:49,11/21/2022 09:29:45 PM,COMMITTED,2245 COLLEGE DR,NaN,BATON ROUGE,LA,...,PERSON,09A,MURDER & NONNEGLIGENT MANSLAUGHTER,NaN,7.0,NaN,BOCAGE / CITIPLACE / CONCORD ESTATES,-91.13371,30.42810,POINT (-91.133709 30.428101)
18835,21-049259,A8694625-545C-4ED5-9465-6AA415BE3B68,05/23/2021 01:58:44 AM,2021-05-23 19:00:01,05/24/2021 11:34:36 PM,COMMITTED,2000 BRIGHTSIDE DR,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,10.0,NaN,SOUTH CAMPUS,-91.18042,30.38883,POINT (-91.180417 30.388834)
19141,21-021248,200B0E02-95D8-4D53-BEB4-42EE84356F9F,03/07/2021 12:16:49 AM,2021-03-13 17:29:46,03/26/2021 11:49:05 PM,COMMITTED,2363 COLLEGE DR,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,7.0,NaN,BOCAGE / CITIPLACE / CONCORD ESTATES,-91.13681,30.42651,POINT (-91.136806 30.426512)

In [38]:
dfCrime.columns

Index(['INCIDENT NUMBER', 'CHARGE ID', 'CHARGE DATE', 'REPORT DATE',
       'APPROVED DATE', 'ATTEMPTED OR COMMITTED', 'STREET ADDRESS',
       'SUBADDRESS', 'CITY', 'STATE', 'ZIP CODE', 'DISTRICT', 'ZONE',
       'SUBZONE', 'STATUTE TITLE', 'STATUTE DESCRIPTION', 'STATUTE CATEGORY',
       'CRIME AGAINST', 'NIBRS CODE', 'NIBRS DESCRIPTION',
       'CENSUS BLOCK GROUP', 'COUNCIL DISTRICT', 'CRIME PREVENTION DISTRICT',
       'NEIGHBORHOOD', 'LONGITUDE', 'LATITUDE', 'GEOLOCATION'],
      dtype='object')

In [39]:
list(dfCrime['NIBRS CODE'].unique())

['120', '13A', '09A']

In [40]:
violentCrimes = ['13A','09A','120']
dfCrime = dfCrime[dfCrime['NIBRS CODE'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(2170, 27)

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,CRIME AGAINST,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
9125,21-027198,48354004-977B-4C60-95B4-05FC44A17896,03/24/2021 03:49:00 AM,2021-03-26 09:19:58,04/06/2021 09:51:34 AM,COMMITTED,2700 PLANK RD,NaN,BATON ROUGE,LA,...,PROPERTY,120,ROBBERY,NaN,NaN,NaN,NaN,-90.16220,30.47240,POINT (-90.1622 30.4724)
18537,21-037369,D810B017-D993-44F6-985F-39C61FA43E8B,04/21/2021 01:14:41 AM,2021-04-22 04:49:33,05/01/2021 05:28:11 AM,COMMITTED,2320 S SHERWOOD FOREST BLVD,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,6.0,NaN,JONES CREEK,-91.05760,30.43187,POINT (-91.057596 30.431867)
18711,21-052514,462E3079-AE44-46A4-8372-4935C3D37BD9,05/31/2021 07:59:00 PM,2021-09-07 08:11:49,11/21/2022 09:29:45 PM,COMMITTED,2245 COLLEGE DR,NaN,BATON ROUGE,LA,...,PERSON,09A,MURDER & NONNEGLIGENT MANSLAUGHTER,NaN,7.0,NaN,BOCAGE / CITIPLACE / CONCORD ESTATES,-91.13371,30.42810,POINT (-91.133709 30.428101)
18835,21-049259,A8694625-545C-4ED5-9465-6AA415BE3B68,05/23/2021 01:58:44 AM,2021-05-23 19:00:01,05/24/2021 11:34:36 PM,COMMITTED,2000 BRIGHTSIDE DR,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,10.0,NaN,SOUTH CAMPUS,-91.18042,30.38883,POINT (-91.180417 30.388834)
19141,21-021248,200B0E02-95D8-4D53-BEB4-42EE84356F9F,03/07/2021 12:16:49 AM,2021-03-13 17:29:46,03/26/2021 11:49:05 PM,COMMITTED,2363 COLLEGE DR,NaN,BATON ROUGE,LA,...,PERSON,13A,AGGRAVATED ASSAULT,NaN,7.0,NaN,BOCAGE / CITIPLACE / CONCORD ESTATES,-91.13681,30.42651,POINT (-91.136806 30.426512)

In [41]:
dfCrime = dfCrime[['LATITUDE', 'LONGITUDE','NIBRS DESCRIPTION']]
dfCrime.head()

       LATITUDE  LONGITUDE                   NIBRS DESCRIPTION
9125   30.47240  -90.16220                             ROBBERY
18537  30.43187  -91.05760                  AGGRAVATED ASSAULT
18711  30.42810  -91.13371  MURDER & NONNEGLIGENT MANSLAUGHTER
18835  30.38883  -91.18042                  AGGRAVATED ASSAULT
19141  30.42651  -91.13681                  AGGRAVATED ASSAULT

In [42]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
dfCrime = dfCrime[['NIBRS DESCRIPTION', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(2170, 2)

                        NIBRS DESCRIPTION                    geometry
9125                              ROBBERY    POINT (-90.1622 30.4724)
18537                  AGGRAVATED ASSAULT   POINT (-91.0576 30.43187)
18711  MURDER & NONNEGLIGENT MANSLAUGHTER   POINT (-91.13371 30.4281)
18835                  AGGRAVATED ASSAULT  POINT (-91.18042 30.38883)
19141                  AGGRAVATED ASSAULT  POINT (-91.13681 30.42651)

In [43]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/tanisha/Downloads/cb_2022_us_bg_500k/cb_2022_us_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(242297, 12)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,04,019,940800,2,1500000US040199408002,040199408002,2,Block Group 2,BG,2033911373,68536,"POLYGON ((-112.40553 31.85694, -112.37564 31.8..."
1,04,003,000901,4,1500000US040030009014,040030009014,4,Block Group 4,BG,486316,0,"POLYGON ((-109.5499 31.33418, -109.54989 31.33..."
2,06,073,018102,3,1500000US060730181023,060730181023,3,Block Group 3,BG,324091,3579,"POLYGON ((-117.36879 33.18158, -117.36792 33.1..."
3,06,073,007200,3,1500000US060730072003,060730072003,3,Block Group 3,BG,720442,709604,"POLYGON ((-117.25749 32.72525, -117.25684 32.7..."
4,06,073,017702,3,1500000US060730177023,060730177023,3,Block Group 3,BG,317237,0,"POLYGON ((-117.30035 33.05233, -117.29863 33.0..."

In [44]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                        NIBRS DESCRIPTION                    geometry
9125                              ROBBERY    POINT (-90.1622 30.4724)
18537                  AGGRAVATED ASSAULT   POINT (-91.0576 30.43187)
18711  MURDER & NONNEGLIGENT MANSLAUGHTER   POINT (-91.13371 30.4281)
18835                  AGGRAVATED ASSAULT  POINT (-91.18042 30.38883)
19141                  AGGRAVATED ASSAULT  POINT (-91.13681 30.42651)

In [45]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(2170, 14)

,NIBRS DESCRIPTION,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER
9125,ROBBERY,POINT (-90.1622 30.4724),223110,22,103,040401,1,1500000US221030404011,221030404011,1,Block Group 1,BG,15194788,119332
18537,AGGRAVATED ASSAULT,POINT (-91.0576 30.43187),67090,22,033,003909,4,1500000US220330039094,220330039094,4,Block Group 4,BG,1620565,24176
18711,MURDER & NONNEGLIGENT MANSLAUGHTER,POINT (-91.13371 30.4281),208556,22,033,003806,2,1500000US220330038062,220330038062,2,Block Group 2,BG,1127033,0
18835,AGGRAVATED ASSAULT,POINT (-91.18042 30.38883),22609,22,033,004013,1,1500000US220330040131,220330040131,1,Block Group 1,BG,289668,0
19141,AGGRAVATED ASSAULT,POINT (-91.13681 30.42651),208556,22,033,003806,2,1500000US220330038062,220330038062,2,Block Group 2,BG,1127033,0

In [46]:
crime = result['AFFGEOID'].value_counts()
crime

1500000US220330053003    66
1500000US220330039094    57
1500000US220330017002    41
1500000US220330003001    39
1500000US220330009002    38
                         ..
1500000US220330037015     1
1500000US220330027001     1
1500000US220330040171     1
1500000US220330039093     1
1500000US220330045092     1
Name: AFFGEOID, Length: 185, dtype: int64

In [47]:
# export as a csv
crime.to_csv('BR_Violent_Crime_BG.csv')