In [15]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [17]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/NYPD_Arrests_Data__Historic__20250412.csv')
print(dfCrime.shape)
dfCrime.head()

(155507, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,238476134,12/31/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,40,0,45-64,M,WHITE HISPANIC,1007667,238491,40.821256,-73.915395,POINT (-73.91539525299999 40.82125552300005)
1,238465118,12/31/2021,175.0,"SEXUAL ABUSE 3,2",233.0,SEX CRIMES,PL 13052A1,M,M,24,0,45-64,M,BLACK HISPANIC,993336,229488,40.796571,-73.967186,POINT (-73.96718568699998 40.796571143000044)
2,238481251,12/31/2021,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,K,84,0,25-44,M,WHITE HISPANIC,986598,190448,40.689420,-73.991535,POINT (-73.99153483799995 40.68942044000005)
3,238487598,12/31/2021,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,M,1,0,18-24,F,WHITE,984722,202914,40.723637,-73.998299,POINT (-73.99829859799998 40.723636973000055)
4,238471411,12/31/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 265031B,F,Q,114,0,25-44,M,BLACK,1002692,217414,40.763417,-73.933428,POINT (-73.93342791499998 40.763416637000034)

In [27]:
violentCrimes = ['FELONY ASSAULT', 'RAPE', 'MURDER & NON-NEGL. MANSLAUGHTE', 'FELONY SEX CRIMES', 'ROBBERY']
dfCrime = dfCrime[dfCrime['OFNS_DESC'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(25548, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
5,238481255,12/31/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,M,25,97,25-44,M,WHITE HISPANIC,1003625,226929,40.789531,-73.930032,POINT (-73.93003245799997 40.78953081100008)
9,238492808,12/31/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,106,0,25-44,M,ASIAN / PACIFIC ISLANDER,1033013,189339,40.686242,-73.824176,POINT (-73.82417615599996 40.68624248100008)
28,238471407,12/31/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601502,F,K,72,0,18-24,M,WHITE HISPANIC,981169,177800,40.654704,-74.011105,POINT (-74.01110537999993 40.65470428400005)
30,238513857,12/31/2021,106.0,ASSAULT POLICE/PEACE OFFICER,106.0,FELONY ASSAULT,PL 1200800,F,B,52,0,<18,M,BLACK HISPANIC,1015091,254482,40.865123,-73.888499,POINT (-73.88849864299993 40.86512331000005)
41,238482884,12/31/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,75,0,25-44,M,BLACK,1021030,188496,40.683987,-73.867388,POINT (-73.86738791699997 40.68398654500004)

In [29]:
dfCrime = dfCrime[['PD_DESC', 'Longitude', 'Latitude']]
dfCrime.head()

                           PD_DESC  Longitude   Latitude
5         ASSAULT 2,1,UNCLASSIFIED -73.930032  40.789531
9                STRANGULATION 1ST -73.824176  40.686242
28  ROBBERY,OPEN AREA UNCLASSIFIED -74.011105  40.654704
30    ASSAULT POLICE/PEACE OFFICER -73.888499  40.865123
41               STRANGULATION 1ST -73.867388  40.683987

In [33]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['PD_DESC', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(25548, 2)

,PD_DESC,geometry
5,"ASSAULT 2,1,UNCLASSIFIED",POINT (-73.93003245799997 40.78953081100008)
9,STRANGULATION 1ST,POINT (-73.82417615599996 40.68624248100008)
28,"ROBBERY,OPEN AREA UNCLASSIFIED",POINT (-74.01110537999993 40.65470428400005)
30,ASSAULT POLICE/PEACE OFFICER,POINT (-73.88849864299993 40.86512331000005)
41,STRANGULATION 1ST,POINT (-73.86738791699997 40.68398654500004)

In [35]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("cb_2022_us_bg_500k/cb_2022_us_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(242297, 12)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,04,019,940800,2,1500000US040199408002,040199408002,2,Block Group 2,BG,2033911373,68536,"POLYGON ((-112.41 31.857, -112.38 31.859, -112..."
1,04,003,000901,4,1500000US040030009014,040030009014,4,Block Group 4,BG,486316,0,"POLYGON ((-109.55 31.334, -109.55 31.339, -109..."
2,06,073,018102,3,1500000US060730181023,060730181023,3,Block Group 3,BG,324091,3579,"POLYGON ((-117.37 33.182, -117.37 33.182, -117..."
3,06,073,007200,3,1500000US060730072003,060730072003,3,Block Group 3,BG,720442,709604,"POLYGON ((-117.26 32.725, -117.26 32.726, -117..."
4,06,073,017702,3,1500000US060730177023,060730177023,3,Block Group 3,BG,317237,0,"POLYGON ((-117.3 33.052, -117.3 33.053, -117.3..."

In [37]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                           PD_DESC                geometry
5         ASSAULT 2,1,UNCLASSIFIED    POINT (-73.93 40.79)
9                STRANGULATION 1ST  POINT (-73.824 40.686)
28  ROBBERY,OPEN AREA UNCLASSIFIED  POINT (-74.011 40.655)
30    ASSAULT POLICE/PEACE OFFICER  POINT (-73.888 40.865)
41               STRANGULATION 1ST  POINT (-73.867 40.684)

In [39]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(25548, 14)

,PD_DESC,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER
5,"ASSAULT 2,1,UNCLASSIFIED",POINT (-73.93 40.79),28449,36,061,024000,2,1500000US360610240002,360610240002,2,Block Group 2,BG,814553,0
9,STRANGULATION 1ST,POINT (-73.824 40.686),53219,36,081,015802,3,1500000US360810158023,360810158023,3,Block Group 3,BG,92711,0
28,"ROBBERY,OPEN AREA UNCLASSIFIED",POINT (-74.011 40.655),128139,36,047,001802,1,1500000US360470018021,360470018021,1,Block Group 1,BG,598065,0
30,ASSAULT POLICE/PEACE OFFICER,POINT (-73.888 40.865),8891,36,005,040502,3,1500000US360050405023,360050405023,3,Block Group 3,BG,27266,0
41,STRANGULATION 1ST,POINT (-73.867 40.684),34312,36,047,118400,1,1500000US360471184001,360471184001,1,Block Group 1,BG,73425,0

In [41]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US360471164001    536
1500000US360050424001    348
1500000US360050046001    332
1500000US360050039003    329
1500000US360050221013    288
                        ...
1500000US360050279005      1
1500000US360470966002      1
1500000US360850176003      1
1500000US360810583002      1
1500000US360610002026      1
Name: count, Length: 4146, dtype: int64

In [43]:
# export as a csv
crime.to_csv('NY_Violent_Crime_BG.csv')