In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Violent_Crime_Data_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(18081, 18)

,Address,City,State,Zip,Date_Incident,Jurisdiction,Incident_Tract,Zone,UCR_Incident_Code,Incident_Description,Incident_Type,Case_Number,Case_Status,Case_Status_Description,Latitude,Longitude,Location,citydst
0,800 Sylvan Dr,Chattanooga,TN,37411,04/21/2025 04:23:00 PM,TN0330100,C2,Charlie S,13A,Aggravated Assault,Part 1 Crimes,25-033490,3,Pending/Possible Leads,35.036260,-85.234335,POINT (-85.234335 35.03626),9.0
1,1300 Broad St,Chattanooga,TN,37402,04/21/2025 02:10:00 PM,TN0330100,A9,Adam S,13A,Aggravated Assault,Part 1 Crimes,25-033451,3,Pending/Possible Leads,35.039302,-85.311554,POINT (-85.311554 35.039302),7.0
2,2300 Wheeler Ave,Chattanooga,TN,37406,04/20/2025 10:34:00 PM,TN0330100,B2,Baker N,120,Robbery,Part 1 Crimes,25-033284,3,Pending/Possible Leads,35.063138,-85.251582,POINT (-85.251582 35.063138),9.0
3,2100-218 E Main St,Chattanooga,TN,37404,04/20/2025 09:52:00 PM,TN0330100,B6,Baker S,13A,Aggravated Assault,Part 1 Crimes,25-033274,2,Cleared by Arrest,35.025858,-85.276417,POINT (-85.276417 35.025858),8.0
4,1400 Williams St,Chattanooga,TN,37408,04/20/2025 09:37:00 PM,TN0330100,A9,Adam S,13A,Aggravated Assault,Part 1 Crimes,25-033275,2,Cleared by Arrest,35.039096,-85.307719,POINT (-85.307719 35.039096),7.0

In [5]:
dfCrime['Date_Incident'] = pd.to_datetime(dfCrime['Date_Incident'])
dfCrime.head()

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_5963/209712233.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfCrime['Date_Incident'] = pd.to_datetime(dfCrime['Date_Incident'])

,Address,City,State,Zip,Date_Incident,Jurisdiction,Incident_Tract,Zone,UCR_Incident_Code,Incident_Description,Incident_Type,Case_Number,Case_Status,Case_Status_Description,Latitude,Longitude,Location,citydst
0,800 Sylvan Dr,Chattanooga,TN,37411,2025-04-21 16:23:00,TN0330100,C2,Charlie S,13A,Aggravated Assault,Part 1 Crimes,25-033490,3,Pending/Possible Leads,35.036260,-85.234335,POINT (-85.234335 35.03626),9.0
1,1300 Broad St,Chattanooga,TN,37402,2025-04-21 14:10:00,TN0330100,A9,Adam S,13A,Aggravated Assault,Part 1 Crimes,25-033451,3,Pending/Possible Leads,35.039302,-85.311554,POINT (-85.311554 35.039302),7.0
2,2300 Wheeler Ave,Chattanooga,TN,37406,2025-04-20 22:34:00,TN0330100,B2,Baker N,120,Robbery,Part 1 Crimes,25-033284,3,Pending/Possible Leads,35.063138,-85.251582,POINT (-85.251582 35.063138),9.0
3,2100-218 E Main St,Chattanooga,TN,37404,2025-04-20 21:52:00,TN0330100,B6,Baker S,13A,Aggravated Assault,Part 1 Crimes,25-033274,2,Cleared by Arrest,35.025858,-85.276417,POINT (-85.276417 35.025858),8.0
4,1400 Williams St,Chattanooga,TN,37408,2025-04-20 21:37:00,TN0330100,A9,Adam S,13A,Aggravated Assault,Part 1 Crimes,25-033275,2,Cleared by Arrest,35.039096,-85.307719,POINT (-85.307719 35.039096),7.0

In [7]:
dfCrime = dfCrime.loc[(dfCrime['Date_Incident'] >= '2019-01-01') & (dfCrime['Date_Incident'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(1727, 18)

,Address,City,State,Zip,Date_Incident,Jurisdiction,Incident_Tract,Zone,UCR_Incident_Code,Incident_Description,Incident_Type,Case_Number,Case_Status,Case_Status_Description,Latitude,Longitude,Location,citydst
9577,3000 Woodside St,Chattanooga,TN,37407,2019-12-31 22:30:00,TN0330100,B8,Baker S,13A,Aggravated Assault,Part 1 Crimes,19-131533,3,Pending/Possible Leads,35.010164,-85.274232,POINT (-85.274232 35.010164),9.0
9578,4300 Rossville Blvd,Chattanooga,TN,37407,2019-12-31 15:00:00,TN0330100,B9,Baker S,13A,Aggravated Assault,Part 1 Crimes,19-131399,2,Cleared by Arrest,34.994204,-85.290099,POINT (-85.290099 34.994204),7.0
9579,400 Greenway View Dr,Chattanooga,TN,37411,2019-12-31 12:52:00,TN0330100,C3,Charlie S,09A,Murder & Non-Negligent Manslaughter,Part 1 Crimes,19-131370,3,Pending/Possible Leads,35.009452,-85.205217,POINT (-85.205217 35.009452),6.0
9580,400 Greenway View Dr,Chattanooga,TN,37411,2019-12-31 12:52:00,TN0330100,C3,Charlie S,13A,Aggravated Assault,Part 1 Crimes,19-131370,3,Pending/Possible Leads,35.008564,-85.204690,POINT (-85.20469 35.008564),6.0
9581,2800 4th Ave,Chattanooga,TN,37407,2019-12-31 01:00:00,TN0330100,B8,Baker S,13A,Aggravated Assault,Part 1 Crimes,19-131221,2,Cleared by Arrest,35.010349,-85.284164,POINT (-85.284164 35.010349),7.0

In [9]:
dfCrime = dfCrime[['Incident_Type', 'Longitude', 'Latitude']]
dfCrime.head()

      Incident_Type  Longitude   Latitude
9577  Part 1 Crimes -85.274232  35.010164
9578  Part 1 Crimes -85.290099  34.994204
9579  Part 1 Crimes -85.205217  35.009452
9580  Part 1 Crimes -85.204690  35.008564
9581  Part 1 Crimes -85.284164  35.010349

In [11]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['Incident_Type', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(1727, 2)

      Incident_Type                              geometry
9577  Part 1 Crimes  POINT (-85.27423200000001 35.010164)
9578  Part 1 Crimes          POINT (-85.290099 34.994204)
9579  Part 1 Crimes          POINT (-85.205217 35.009452)
9580  Part 1 Crimes           POINT (-85.20469 35.008564)
9581  Part 1 Crimes          POINT (-85.284164 35.010349)

In [13]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_47_bg_500k/cb_2018_47_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(4125, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,47,183,968400,4,1500000US471839684004,471839684004,4,BG,8362327,0,"POLYGON ((-88.715 36.286, -88.714 36.288, -88...."
1,47,187,050905,3,1500000US471870509053,471870509053,3,BG,905519,0,"POLYGON ((-86.834 35.924, -86.831 35.924, -86...."
2,47,089,070300,2,1500000US470890703002,470890703002,2,BG,1885213,0,"POLYGON ((-83.505 36.133, -83.504 36.134, -83...."
3,47,189,030500,1,1500000US471890305001,471890305001,1,BG,1293057,0,"POLYGON ((-86.29 36.216, -86.289 36.219, -86.2..."
4,47,093,002600,2,1500000US470930026002,470930026002,2,BG,1758045,0,"POLYGON ((-83.98 35.953, -83.968 35.959, -83.9..."

In [15]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

      Incident_Type                geometry
9577  Part 1 Crimes   POINT (-85.274 35.01)
9578  Part 1 Crimes   POINT (-85.29 34.994)
9579  Part 1 Crimes  POINT (-85.205 35.009)
9580  Part 1 Crimes  POINT (-85.205 35.009)
9581  Part 1 Crimes   POINT (-85.284 35.01)

In [17]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1727, 13)

,Incident_Type,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
9577,Part 1 Crimes,POINT (-85.274 35.01),3129.0,47,065,002500,2,1500000US470650025002,470650025002,2,BG,1201607.0,0.0
9578,Part 1 Crimes,POINT (-85.29 34.994),720.0,47,065,002400,2,1500000US470650024002,470650024002,2,BG,562755.0,0.0
9579,Part 1 Crimes,POINT (-85.205 35.009),913.0,47,065,003000,2,1500000US470650030002,470650030002,2,BG,2030586.0,0.0
9580,Part 1 Crimes,POINT (-85.205 35.009),913.0,47,065,003000,2,1500000US470650030002,470650030002,2,BG,2030586.0,0.0
9581,Part 1 Crimes,POINT (-85.284 35.01),1434.0,47,065,002500,3,1500000US470650025003,470650025003,3,BG,1331116.0,0.0

In [19]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US470650016001    62
1500000US470650019003    61
1500000US470650124003    60
1500000US470650025002    49
1500000US470650031001    48
                         ..
1500000US470650113262     1
1500000US470650104311     1
1500000US470650006002     1
1500000US470650113111     1
1500000US470650105021     1
Name: count, Length: 136, dtype: int64

In [21]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Chatta_Violent_Crime_BG.csv')