In [94]:
import pandas as pd
import numpy as np

In [96]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Crime_Reports.csv')
print(dfCrime.shape)
dfCrime.head()

(2613106, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,03/17/2006,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,03/17/2006,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,03/10/2006,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,10/01/2005,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,02/09/2006,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [97]:
dfCrime['Occurred Date'] = pd.to_datetime(dfCrime['Occurred Date'])
dfCrime.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,2006-03-17,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,2006-03-17,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,2006-03-10,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,2005-10-01,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,2006-02-09,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [98]:
dfCrime = dfCrime.loc[(dfCrime['Occurred Date'] >= '2021-01-01') & (dfCrime['Occurred Date'] < '2022-01-01')]
print(dfCrime.shape)
dfCrime.head()

(92389, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
2227963,202110129,THEFT BY SHOPLIFTING,607,N,01/01/2021 00:21,2021-01-01,21.0,01/01/2021 00:21,01/01/2021,21.0,SERVICE/ GAS STATION,1.0,ID,2,N,01/04/2021,23C,Theft,4.530402e+09
2227968,202110635,DWI,2100,N,01/01/2021 03:00,2021-01-01,300.0,01/01/2021 03:00,01/01/2021,300.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,5.0,FR,1,C,01/01/2021,NaN,NaN,4.530310e+09
2227969,20215000002,THEFT,600,N,01/01/2021 02:00,2021-01-01,200.0,01/01/2021 03:51,01/01/2021,351.0,BAR / NIGHTCLUB,9.0,GE,2,N,01/02/2021,23H,Theft,4.530011e+09
2227970,202110326,AGG ASSAULT,402,N,01/01/2021 01:00,2021-01-01,100.0,01/01/2021 03:52,01/01/2021,352.0,BAR / NIGHTCLUB,9.0,GE,2,C,01/05/2021,13A,Aggravated Assault,4.530011e+09
2227971,202110011,DOC FIGHTING,2406,N,01/01/2021 01:06,2021-01-01,106.0,01/01/2021 19:58,01/01/2021,1958.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2021,NaN,NaN,4.530011e+09

In [99]:
list(dfCrime['Category Description'].unique())

['Theft',
 nan,
 'Aggravated Assault',
 'Auto Theft',
 'Robbery',
 'Burglary',
 'Rape',
 'Murder']

In [100]:
dfCrime = dfCrime[(dfCrime['Category Description'] == 'Aggravated Assault') |
                  (dfCrime['Category Description'] == 'Robbery') |
                  (dfCrime['Category Description'] == 'Rape') |
                  (dfCrime['Category Description'] == 'Murder')]
dfCrime.shape

(4416, 19)

In [101]:
dfCrime = dfCrime[dfCrime['Census Block Group'].isnull() == False]
dfCrime['Census Block Group'] = dfCrime['Census Block Group'].apply(lambda x: f"{x:.0f}")
dfCrime['Census Block Group'] = '48' + dfCrime['Census Block Group']
dfCrime['AFFGEOID'] = '1500000US' + dfCrime['Census Block Group']
print(dfCrime.shape)
dfCrime.head()

(4383, 20)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group,AFFGEOID
2227970,202110326,AGG ASSAULT,402,N,01/01/2021 01:00,2021-01-01,100.0,01/01/2021 03:52,01/01/2021,352.0,BAR / NIGHTCLUB,9.0,GE,2,C,01/05/2021,13A,Aggravated Assault,484530011032,1500000US484530011032
2227977,202110760,AGG ASSAULT,402,N,01/01/2021 04:00,2021-01-01,400.0,01/01/2021 05:30,01/01/2021,530.0,PARKING /DROP LOT/ GARAGE,6.0,AD,3,N,02/16/2021,13A,Aggravated Assault,484530316002,1500000US484530316002
2227985,202110363,AGG ASSAULT,402,N,01/01/2021 01:12,2021-01-01,112.0,01/01/2021 01:12,01/01/2021,112.0,RESIDENCE / HOME,1.0,ED,7,N,01/02/2021,13A,Aggravated Assault,484530415001,1500000US484530415001
2227987,202110583,AGG ASSAULT,402,N,01/01/2021 02:22,2021-01-01,222.0,01/01/2021 02:22,01/01/2021,222.0,RESIDENCE / HOME,5.0,FR,1,N,01/06/2021,13A,Aggravated Assault,484530317001,1500000US484530317001
2227994,202110742,AGG ASLT W/MOTOR VEH FAM/DAT V,406,Y,01/01/2021 05:06,2021-01-01,506.0,01/01/2021 05:06,01/01/2021,506.0,RESIDENCE / HOME,4.0,ED,2,N,01/19/2021,13A,Aggravated Assault,484530408003,1500000US484530408003

In [102]:
crime = dfCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(547, 1)

                       count
AFFGEOID
1500000US484530011011    143
1500000US484530402001     60
1500000US484530021054     55
1500000US484530011032     52
1500000US484530410002     47

In [110]:
crime.to_csv('AustinTX_violent_crime_by_BG.csv')