In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [3]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Crimes_-_2001_to_Present.csv')
dfCrime = dfCrime[dfCrime['Arrest']]
print(dfCrime.shape)
dfCrime.head()

(2103645, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,13311263,JG503434,07/29/2022 03:39:00 AM,023XX S TROY ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,True,False,...,25.0,30.0,17,NaN,NaN,2022,04/18/2024 03:40:59 PM,NaN,NaN,NaN
1,13053066,JG103252,01/03/2023 04:44:00 PM,039XX W WASHINGTON BLVD,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,SIDEWALK,True,False,...,28.0,26.0,18,NaN,NaN,2023,01/20/2024 03:41:12 PM,NaN,NaN,NaN
7,12729745,JF279458,06/14/2022 02:47:00 PM,035XX N CENTRAL AVE,0340,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,BANK,True,False,...,30.0,15.0,03,1138391.0,1923142.0,2022,01/19/2024 03:40:50 PM,41.945232,-87.766735,"(41.945232412, -87.766734668)"
8,12835559,JF406130,09/21/2022 10:00:00 PM,004XX E 69TH ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,OTHER (SPECIFY),True,False,...,6.0,69.0,07,1180204.0,1859359.0,2022,01/19/2024 03:40:50 PM,41.769347,-87.615008,"(41.769346711, -87.615008288)"
9,13003649,JG177593,02/22/2023 01:50:00 PM,070XX S CLYDE AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE - PORCH / HALLWAY,True,False,...,5.0,43.0,05,1191427.0,1858753.0,2023,01/19/2024 03:40:50 PM,41.767419,-87.573890,"(41.767419224, -87.573890196)"

In [5]:
dfCrime.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [7]:
dfCrime = dfCrime[dfCrime['Year'] == 2021]
dfCrime = dfCrime[(dfCrime['Latitude'].isna() == False) & (dfCrime['Longitude'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(25152, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
20,12342615,JE202211,04/17/2021 03:20:00 PM,081XX S PRAIRIE AVE,0325,ROBBERY,VEHICULAR HIJACKING,RESIDENCE,True,False,...,6.0,44.0,03,1179448.0,1851073.0,2021,09/14/2023 03:41:59 PM,41.746626,-87.618032,"(41.746626309, -87.618031954)"
84,26262,JE366265,09/08/2021 04:45:00 PM,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,24.0,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)"
851,12346572,JE206964,04/22/2021 02:30:00 PM,016XX W 59TH ST,1140,DECEPTIVE PRACTICE,EMBEZZLEMENT,COMMERCIAL / BUSINESS OFFICE,True,False,...,16.0,67.0,12,1166240.0,1865581.0,2021,04/18/2024 03:40:20 PM,41.786729,-87.666017,"(41.786729308, -87.666016839)"
3365,12358148,JE220723,05/05/2021 03:31:00 PM,005XX W MELROSE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,44.0,6.0,08B,1172155.0,1921906.0,2021,09/17/2023 03:41:45 PM,41.941161,-87.642668,"(41.941161268, -87.642667917)"
3366,12379997,JE247919,05/30/2021 01:45:00 PM,021XX W LEXINGTON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,True,True,...,28.0,28.0,08B,1162202.0,1896743.0,2021,09/17/2023 03:41:45 PM,41.872326,-87.679953,"(41.872326358, -87.679953348)"

In [9]:
violentCrimeCodes = ['03', '01A', '02', '04A', '01B']
dfCrime = dfCrime[dfCrime['FBI Code'].isin(violentCrimeCodes)]
print(dfCrime.shape)
dfCrime.head()

(1833, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
20,12342615,JE202211,04/17/2021 03:20:00 PM,081XX S PRAIRIE AVE,0325,ROBBERY,VEHICULAR HIJACKING,RESIDENCE,True,False,...,6.0,44.0,03,1179448.0,1851073.0,2021,09/14/2023 03:41:59 PM,41.746626,-87.618032,"(41.746626309, -87.618031954)"
84,26262,JE366265,09/08/2021 04:45:00 PM,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,24.0,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)"
8353,12271626,JE115190,01/17/2021 01:22:00 AM,120XX S NORMAL AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,...,21.0,53.0,02,1175135.0,1825082.0,2021,01/30/2024 03:40:48 PM,41.675401,-87.634609,"(41.675400611, -87.634608576)"
8362,12467872,JE355873,06/28/2021 05:30:00 PM,011XX S TROY ST,031A,ROBBERY,ARMED - HANDGUN,SIDEWALK,True,False,...,24.0,29.0,03,1155533.0,1894990.0,2021,09/22/2023 03:41:26 PM,41.867653,-87.704485,"(41.867652634, -87.704485374)"
15332,12370697,JE236167,05/20/2021 10:09:00 AM,069XX S CRANDON AVE,0325,ROBBERY,VEHICULAR HIJACKING,ALLEY,True,False,...,5.0,43.0,03,1192522.0,1859436.0,2021,06/18/2024 03:40:31 PM,41.769267,-87.569854,"(41.769266826, -87.569854405)"

In [11]:
dfCrime = dfCrime[['FBI Code', 'Latitude', 'Longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['FBI Code', 'geometry']]
dfCrime.head()

      FBI Code                                 geometry
20          03       POINT (-87.618031954 41.746626309)
84         01A  POINT (-87.74344656300001 41.873191445)
8353        02  POINT (-87.63460857600001 41.675400611)
8362        03       POINT (-87.704485374 41.867652634)
15332       03       POINT (-87.569854405 41.769266826)

In [13]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("cb_2022_us_bg_500k/cb_2022_us_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(242297, 12)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,04,019,940800,2,1500000US040199408002,040199408002,2,Block Group 2,BG,2033911373,68536,"POLYGON ((-112.41 31.857, -112.38 31.859, -112..."
1,04,003,000901,4,1500000US040030009014,040030009014,4,Block Group 4,BG,486316,0,"POLYGON ((-109.55 31.334, -109.55 31.339, -109..."
2,06,073,018102,3,1500000US060730181023,060730181023,3,Block Group 3,BG,324091,3579,"POLYGON ((-117.37 33.182, -117.37 33.182, -117..."
3,06,073,007200,3,1500000US060730072003,060730072003,3,Block Group 3,BG,720442,709604,"POLYGON ((-117.26 32.725, -117.26 32.726, -117..."
4,06,073,017702,3,1500000US060730177023,060730177023,3,Block Group 3,BG,317237,0,"POLYGON ((-117.3 33.052, -117.3 33.053, -117.3..."

In [14]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

      FBI Code                geometry
20          03  POINT (-87.618 41.747)
84         01A  POINT (-87.743 41.873)
8353        02  POINT (-87.635 41.675)
8362        03  POINT (-87.704 41.868)
15332       03   POINT (-87.57 41.769)

In [15]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(1833, 14)

,FBI Code,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER
20,03,POINT (-87.618 41.747),61382.0,17,031,440300,2,1500000US170314403002,170314403002,2,Block Group 2,BG,433247.0,0.0
84,01A,POINT (-87.743 41.873),194628.0,17,031,252202,3,1500000US170312522023,170312522023,3,Block Group 3,BG,190165.0,0.0
8353,02,POINT (-87.635 41.675),62144.0,17,031,530501,2,1500000US170315305012,170315305012,2,Block Group 2,BG,364561.0,0.0
8362,03,POINT (-87.704 41.868),30829.0,17,031,838600,1,1500000US170318386001,170318386001,1,Block Group 1,BG,123012.0,0.0
15332,03,POINT (-87.57 41.769),38770.0,17,031,430102,3,1500000US170314301023,170314301023,3,Block Group 3,BG,55027.0,0.0

In [16]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US170318391001    22
1500000US170313301021    12
1500000US170313204001    11
1500000US170318370001     9
1500000US170318434001     8
                         ..
1500000US170318319001     1
1500000US170311911003     1
1500000US170312520001     1
1500000US170318380002     1
1500000US170314208002     1
Name: count, Length: 1000, dtype: int64

In [21]:
# export as a csv
crime.to_csv('Chicago_Violent_Crime_BG.csv')