In [1]:
import pandas as pd
import numpy as np

In [5]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime_Reports.csv')
print(dfCrime.shape)
dfCrime.head()

(2613106, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,03/17/2006,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,03/17/2006,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,03/10/2006,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,10/01/2005,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,02/09/2006,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [7]:
dfCrime['Occurred Date'] = pd.to_datetime(dfCrime['Occurred Date'])
dfCrime.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,2006-03-17,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,2006-03-17,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,2006-03-10,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,2005-10-01,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,2006-02-09,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [9]:
dfCrime = dfCrime.loc[(dfCrime['Occurred Date'] >= '2019-01-01') & (dfCrime['Occurred Date'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(104123, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
2024247,201910080,DWI 2ND,2102,N,01/01/2019 01:10,2019-01-01,110.0,01/01/2019 01:10,01/01/2019,110.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,5.0,DA,2,C,01/04/2019,NaN,NaN,4.530013e+09
2024248,20195000001,THEFT,600,N,01/01/2019 00:00,2019-01-01,0.0,01/01/2019 02:08,01/01/2019,208.0,OTHER / UNKNOWN,9.0,GE,4,N,01/02/2019,23H,Theft,4.530011e+09
2024249,201910622,AGG ASSAULT,402,N,01/01/2019 03:34,2019-01-01,334.0,01/01/2019 03:34,01/01/2019,334.0,OTHER / UNKNOWN,4.0,ED,2,N,01/27/2019,13A,Aggravated Assault,4.530408e+09
2024250,201910152,FELONY ENHANCEMENT/ASSLT W/INJ,909,Y,01/01/2019 00:27,2019-01-01,27.0,01/01/2019 00:27,01/01/2019,27.0,RESIDENCE / HOME,5.0,FR,1,C,01/01/2019,NaN,NaN,4.530317e+09
2024251,201910486,POSS OF FIREARM BY FELON,1502,N,01/01/2019 01:52,2019-01-01,152.0,01/01/2019 01:52,01/01/2019,152.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2019,NaN,NaN,4.530011e+09

In [11]:
list(dfCrime['Category Description'].unique())

[nan,
 'Theft',
 'Aggravated Assault',
 'Rape',
 'Auto Theft',
 'Robbery',
 'Burglary',
 'Murder']

In [13]:
dfCrime = dfCrime[(dfCrime['Category Description'] == 'Aggravated Assault') |
                  (dfCrime['Category Description'] == 'Robbery') |
                  (dfCrime['Category Description'] == 'Rape') |
                  (dfCrime['Category Description'] == 'Murder')]
dfCrime.shape

(3861, 19)

In [15]:
dfCrime = dfCrime[dfCrime['Census Block Group'].isnull() == False]
dfCrime['Census Block Group'] = dfCrime['Census Block Group'].apply(lambda x: f"{x:.0f}")
dfCrime['Census Block Group'] = '48' + dfCrime['Census Block Group']
dfCrime['AFFGEOID'] = '1500000US' + dfCrime['Census Block Group']
print(dfCrime.shape)
dfCrime.head()

(3817, 20)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group,AFFGEOID
2024249,201910622,AGG ASSAULT,402,N,01/01/2019 03:34,2019-01-01,334.0,01/01/2019 03:34,01/01/2019,334.0,OTHER / UNKNOWN,4.0,ED,2,N,01/27/2019,13A,Aggravated Assault,484530408003,1500000US484530408003
2024253,201910774,AGG ASLT STRANGLE/SUFFOCATE,410,Y,01/01/2019 03:00,2019-01-01,300.0,01/01/2019 05:06,01/01/2019,506.0,RESIDENCE / HOME,3.0,HE,3,C,01/01/2019,13A,Aggravated Assault,484530023254,1500000US484530023254
2024270,201910669,AGG ASLT STRANGLE/SUFFOCATE,410,Y,01/01/2019 04:00,2019-01-01,400.0,01/01/2019 04:00,01/01/2019,400.0,RESIDENCE / HOME,8.0,DA,4,C,01/01/2019,13A,Aggravated Assault,484530019112,1500000US484530019112
2024288,201911246,RAPE,200,Y,01/01/2019 11:22,2019-01-01,1122.0,01/01/2019 11:22,01/01/2019,1122.0,HOTEL / MOTEL / ETC.,9.0,BA,5,N,06/14/2019,11A,Rape,484530003021,1500000US484530003021
2024332,201911371,AGG ASSAULT,402,N,01/01/2019 10:53,2019-01-01,1053.0,01/01/2019 10:53,01/01/2019,1053.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,3.0,HE,3,C,03/27/2019,13A,Aggravated Assault,484530023241,1500000US484530023241

In [17]:
crime = dfCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(538, 1)

                       count
AFFGEOID
1500000US484530011011    149
1500000US484530021054     63
1500000US484530011032     59
1500000US484530407003     47
1500000US484530009024     40

In [21]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/AustinTX_violent_crime_by_BG.csv')