In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Incident_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(39718, 43)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_19560/1579683093.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Incident_20250422.csv')

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
0,2019004076,JCPD,IDENTITY THEFT,09/17/2019 10:29:00 AM,1029,09/12/2019 08:00:00 AM,800.0,09/17/2019 10:29:00 AM,1029.0,52XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121231079102, -84.2033233642578)",5.0,60.0
1,2025000666,JCPD,TRAFFIC ARREST,02/16/2025 12:05:00 PM,1205,02/16/2025 12:04:59 PM,1204.0,02/16/2025 12:05:00 PM,1205.0,95XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0115814208984, -84.2828598022461)",NaN,NaN
2,2024000775,JCPD,LARCENY - SHOPLIFTING,02/22/2024 06:22:00 PM,1822,02/10/2024 02:11:59 PM,1411.0,02/22/2024 06:22:00 PM,1822.0,59XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121078491211, -84.1879119873047)",3.0,NaN
3,2010001436,JCPD,HIT AND RUN,04/20/2010 09:05:31 AM,905,02/16/2010 09:20:00 AM,920.0,02/16/2010 11:45:00 AM,1145.0,111XX,...,18.0,PARKING LOT /GARAGE,N,N,NONE,NaN,NaN,"(29.802906036377, -91.3952789306641)",NaN,NaN
4,2022000970,JCPD,IDENTITY THEFT,03/04/2022 02:08:00 PM,1408,02/18/2022 12:00:00 PM,1200.0,02/18/2022 12:00:00 PM,1200.0,61XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0386390686035, -84.1784057617188)",3.0,NaN

In [5]:
list(dfCrime.columns)

['Case Number',
 'Police Agency Code',
 'Offense',
 'Date/Time Reported',
 'Hour Reported',
 'Date/Time Occurred',
 'Hour Occurred',
 'Date/Time Found',
 'Hour Found',
 'Street Number',
 'Street Direction',
 'Street Name',
 'Apartment/Floor',
 'city',
 'state',
 'zip',
 'geox',
 'geoy',
 'Reported As',
 'Tract Code',
 'Tract Description',
 'Zone Code',
 'Zone Description',
 'District Code',
 'District Description',
 'Reporting Area Code',
 'Reporting Area Description',
 'Neighborhood Code',
 'Neighborhood Description',
 'Subdivision Code',
 'Subdivision Description',
 'Weather Code',
 'Weather Description',
 'Location Code',
 'Location Description',
 'Forcible',
 'Weapon Code',
 'Weapon Description',
 'Incident Disposition Code',
 'Incident Disposition Descr.',
 'location',
 'Beats',
 'Neighborhoods']

In [7]:
dfCrime['Date/Time Occurred'] = pd.to_datetime(dfCrime['Date/Time Occurred'])
dfCrime.head()

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
0,2019004076,JCPD,IDENTITY THEFT,09/17/2019 10:29:00 AM,1029,2019-09-12 08:00:00,800.0,09/17/2019 10:29:00 AM,1029.0,52XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121231079102, -84.2033233642578)",5.0,60.0
1,2025000666,JCPD,TRAFFIC ARREST,02/16/2025 12:05:00 PM,1205,2025-02-16 12:04:59,1204.0,02/16/2025 12:05:00 PM,1205.0,95XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0115814208984, -84.2828598022461)",NaN,NaN
2,2024000775,JCPD,LARCENY - SHOPLIFTING,02/22/2024 06:22:00 PM,1822,2024-02-10 14:11:59,1411.0,02/22/2024 06:22:00 PM,1822.0,59XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0121078491211, -84.1879119873047)",3.0,NaN
3,2010001436,JCPD,HIT AND RUN,04/20/2010 09:05:31 AM,905,2010-02-16 09:20:00,920.0,02/16/2010 11:45:00 AM,1145.0,111XX,...,18.0,PARKING LOT /GARAGE,N,N,NONE,NaN,NaN,"(29.802906036377, -91.3952789306641)",NaN,NaN
4,2022000970,JCPD,IDENTITY THEFT,03/04/2022 02:08:00 PM,1408,2022-02-18 12:00:00,1200.0,02/18/2022 12:00:00 PM,1200.0,61XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0386390686035, -84.1784057617188)",3.0,NaN

In [9]:
dfCrime = dfCrime.loc[(dfCrime['Date/Time Occurred'] >= '2018-01-01') & (dfCrime['Date/Time Occurred'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(3027, 43)

,Case Number,Police Agency Code,Offense,Date/Time Reported,Hour Reported,Date/Time Occurred,Hour Occurred,Date/Time Found,Hour Found,Street Number,...,Location Code,Location Description,Forcible,Weapon Code,Weapon Description,Incident Disposition Code,Incident Disposition Descr.,location,Beats,Neighborhoods
71,2018001547,JCPD,DAMAGED OR LOST CITY PROPERTY,04/10/2018 02:24:44 PM,1424,2018-03-28 07:21:00,721.0,03/28/2018 07:21:00 AM,721.0,16XX,...,13.0,HIGHWAY /ROAD /ALLEY,N,N,NONE,NaN,NaN,"(29.8000411987305, -91.4003601074219)",NaN,NaN
104,2019003743,JCPD,LARCENY - FROM MAIL,08/26/2019 11:37:00 AM,1137,2018-03-01 00:00:00,0.0,08/23/2019 12:00:00 AM,0.0,61XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0524368286133, -84.1784362792969)",1.0,NaN
107,2018002250,JCPD,LARCENY - FROM BUILDING,05/21/2018 12:00:00 AM,1158,2018-05-20 00:00:00,330.0,NaN,NaN,115XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.062427520752, -84.1641159057617)",2.0,NaN
122,2018004927,JCPD,FRAUD - IMPERSONATION,10/25/2018 12:00:00 AM,1402,2018-10-24 00:00:00,1900.0,NaN,NaN,49XX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(34.0057678222656, -84.2172546386719)",6.0,51.0
127,2018000918,JCPD,LOST & MISLAID PROPERTY,03/01/2018 03:07:42 PM,1507,2018-02-01 12:00:00,1200.0,02/01/2018 12:00:00 PM,1200.0,61XX,...,26.0,APARTMENT,N,N,NONE,NaN,NaN,"(34.0098495483398, -84.1791763305664)",3.0,NaN

In [13]:
sorted(list(dfCrime['Offense'].unique()))

['AGG ASSAULT/ AGG BATTERY-GUN',
 'AGGRAVATED STALKING',
 'AMPHETAMINE-POSSESSION OF',
 'ARSON - RESIDENCE',
 'BURGLARY - BANKING - TYPE INSTITUTE',
 'BURGLARY - NONRESIDENCE - FORCED ENTRY',
 'BURGLARY - NONRESIDENCE - NO FORCE ENTRY',
 'BURGLARY - RESIDENCE - FORCED ENTRY',
 'BURGLARY - RESIDENCE - NO FORCED ENTRY',
 'CITY ORDINANCE VIOLATION',
 'COCAINE- WITH INTENT',
 'COCAINE-POSSESSION',
 'CRIMINAL DAMAGE TO PROPERTY',
 'CRIMINAL TRESPASS',
 'CRUELTY TO ANIMALS',
 'DAMAGED OR LOST CITY PROPERTY',
 'DANGEROUS DRUGS OTHER OFFENSE',
 'DEMENTED PERSON',
 'DISORDERLY CONDUCT',
 'DISORDERLY CONDUCT - CITY ORDINANCE',
 'DRIVERS LIC REQ  PRIOR LIC SURRENDERED: LOCAL LIC FORBIDDEN',
 'DRIVING UNDER THE INFLUENCE - ALCHOL',
 'DRIVING UNDER THE INFLUENCE - DRUGS',
 'DRIVING W/ LIC. SUSP/REV.',
 'EMBEZZLEMENT/THEFT BY CONVERSION OFFENSE FREE TEXT',
 'FAILURE TO APPEAR',
 'FIRING A WEAPON',
 'FLIGHT / ESCAPE  - OTHER',
 'FORGERY - OTHER',
 'FORGERY- OF CHECK',
 'FORGERY- OF OTHER OBJECTS',
 'FRAUD - CONFIDENCE GAME',
 'FRAUD - FALSE STATEMENT',
 'FRAUD - ILLEGAL USE OF CREDIT / FTC',
 'FRAUD - IMPERSONATION',
 'FRAUD - INSUFFICIENT FUNDS CHECK',
 'FRAUD - SWINDLE',
 'FRAUD AND ABUSE - COMPUTER',
 'FRAUD BY WIRE',
 'FRAUDULENT ACTIVITY - OTHER',
 'HALLUCINOGEN-POSSESSION OF',
 'HARASSING COMMUNICATIONS',
 'HEROIN-POSSESSION OF',
 'HEROIN-SALES OF',
 'HIT AND RUN',
 'IDENTITY THEFT',
 'INTERFERENCE WITH GOVERNMENT PROPERTY',
 'LARCENY - BICYCLE',
 'LARCENY - FROM BUILDING',
 'LARCENY - FROM MAIL',
 'LARCENY - FROM RESIDENTIAL MAILBOX',
 'LARCENY - FROM VEHICLE',
 'LARCENY - FROM YARDS',
 'LARCENY - OTHER OFFENSES',
 'LARCENY - PARTS FROM VEHICLE',
 'LARCENY - POCKET PICKING',
 'LARCENY - PURSE SNATCHING - NO FORCE',
 'LARCENY - SHOPLIFTING',
 'LIQ LAW VIOL - OTHER (UN/ AGE DRINK  ETC)',
 'LOITERING AND PROWLING',
 'LOST & MISLAID PROPERTY',
 'MAKING FALSE REPORT / FALSE INFO',
 'MARIJUANA POSS OF',
 'MARIJUANA- WITH INTENT',
 'MARIJUANA-POSSESS LESS THAN 1 OZ',
 'MARIJUANA-SALES OF',
 'MISCELLANEOUS REPORT',
 'MISSING PERSON',
 'OBSCENE MATERIAL - DISTRIBUTE',
 'OBSCENE MATERIAL - POSSESS',
 'OBSCENITY OFFENSES - OTHER',
 'OBSTRUCTING JUDICIARY - OTHER',
 'OBSTRUCTING OFFICER / CRIIMINAL INV.',
 'OPIUM OR DERIVATIVE - FREE TEXT',
 'OPIUM OR DERIVATIVE-POSSESSION OF',
 'PERSON DEAD',
 'POSSESSION OF DRUG RELATED ITEMS/NARCOTIC EQUIPEMENT',
 'POSSESSION OF STOLEN PROPERTY',
 'PROBATION VIOLATION',
 'RECKLESS CONDUCT',
 'RECOVERED PROPERTY',
 'ROBBERY - OTHER',
 'ROBBERY-BUSINESS-GUN',
 'ROBBERY-BUSINESS-STRONGARM',
 'ROBBERY-FORCIBLE PURSE SNATCHING',
 'ROBBERY-STREET-GUN',
 'RUNAWAY JUVENILE',
 'SEX OFFENSE - OTHER',
 'SEXUAL ASSAULT - OTHER',
 'SIMPLE ASSAULT / BATTERY',
 'STALKING',
 'STOLEN MOTOR VEHICLE RECOVERED',
 'SUSPICIOUS ACTIVITY',
 'TERRORISTIC THREATS AND ACTS',
 'THEFT BY EXTORTION',
 'THEFT BY RECEIVING STOLEN PROPERTY',
 'THEFT BY RECEIVING STOLEN VEHICLE',
 'THEFT BY TAKING MOTOR VEHICLE',
 'TRAFFIC ARREST',
 'VEHICLE FATALITY',
 'VEHICLE IMPOUND',
 'VERBAL DISPUTE',
 'VIOLATION OF A COURT ORDER',
 'WANTED PERSON LOCATED',
 'WEAPONS OFFENSES - OTHER']

In [15]:
violentCrimes = ['AGG ASSAULT/ AGG BATTERY-GUN', 'ROBBERY - OTHER', 'ROBBERY-BUSINESS-GUN', 'ROBBERY-BUSINESS-STRONGARM',
                'ROBBERY-FORCIBLE PURSE SNATCHING', 'ROBBERY-STREET-GUN', 'SEX OFFENSE - OTHER', 'SEXUAL ASSAULT - OTHER', 'PERSON DEAD']
dfCrime = dfCrime[dfCrime['Offense'].isin(violentCrimes)]
dfCrime = dfCrime[['Offense', 'geox', 'geoy']]
print(dfCrime.shape)
dfCrime.head()

(52, 3)

                   Offense       geox       geoy
680            PERSON DEAD  34.084492 -84.202797
758            PERSON DEAD  34.036072 -84.188789
808            PERSON DEAD  34.025558 -84.251900
1679  ROBBERY-BUSINESS-GUN  33.990273 -84.267426
1850           PERSON DEAD  34.038155 -84.148979

In [17]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['geoy'], row['geox']), axis=1)
dfCrime = dfCrime[['Offense', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(52, 2)

                   Offense                                    geometry
680            PERSON DEAD  POINT (-84.2027969360352 34.0844917297363)
758            PERSON DEAD  POINT (-84.1887893676758 34.0360717773438)
808            PERSON DEAD  POINT (-84.2518997192383 34.0255584716797)
1679  ROBBERY-BUSINESS-GUN  POINT (-84.2674255371094 33.9902725219727)
1850           PERSON DEAD  POINT (-84.1489791870117 34.0381546020508)

In [19]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_13_bg_500k/cb_2018_13_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(5530, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,13,121,001600,1,1500000US131210016001,131210016001,1,BG,921684,2683,"POLYGON ((-84.364 33.771, -84.359 33.771, -84...."
1,13,095,000100,3,1500000US130950001003,130950001003,3,BG,944540,0,"POLYGON ((-84.112 31.58, -84.101 31.58, -84.10..."
2,13,245,001602,3,1500000US132450016023,132450016023,3,BG,750047,0,"POLYGON ((-82.043 33.49, -82.039 33.492, -82.0..."
3,13,067,031004,2,1500000US130670310042,130670310042,2,BG,874932,8814,"POLYGON ((-84.565 33.898, -84.564 33.902, -84...."
4,13,021,012300,2,1500000US130210123002,130210123002,2,BG,505441,0,"POLYGON ((-83.67 32.844, -83.67 32.844, -83.66..."

In [21]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                   Offense                geometry
680            PERSON DEAD  POINT (-84.203 34.084)
758            PERSON DEAD  POINT (-84.189 34.036)
808            PERSON DEAD  POINT (-84.252 34.026)
1679  ROBBERY-BUSINESS-GUN   POINT (-84.267 33.99)
1850           PERSON DEAD  POINT (-84.149 34.038)

In [23]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(52, 13)

,Offense,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
680,PERSON DEAD,POINT (-84.203 34.084),4300,13,121,011620,1,1500000US131210116201,131210116201,1,BG,1665047,4886
758,PERSON DEAD,POINT (-84.189 34.036),4591,13,121,011625,3,1500000US131210116253,131210116253,3,BG,2751251,42675
808,PERSON DEAD,POINT (-84.252 34.026),471,13,121,011427,1,1500000US131210114271,131210114271,1,BG,1524453,0
1679,ROBBERY-BUSINESS-GUN,POINT (-84.267 33.99),2077,13,121,011424,2,1500000US131210114242,131210114242,2,BG,1827636,13468
1850,PERSON DEAD,POINT (-84.149 34.038),3747,13,121,011622,2,1500000US131210116222,131210116222,2,BG,8299781,153981

In [25]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US131210116203    7
1500000US131210114271    4
1500000US131210116222    4
1500000US131210116261    4
1500000US131210116201    3
1500000US131210116253    3
1500000US131210114242    3
1500000US131210116221    3
1500000US131210116173    3
1500000US131210116231    2
1500000US131210116131    2
1500000US131210116232    2
1500000US131210114272    2
1500000US131210114143    1
1500000US131210116172    1
1500000US131210116121    1
1500000US131210114273    1
1500000US131210114253    1
1500000US131210116234    1
1500000US131210114241    1
1500000US131210116223    1
1500000US131210116122    1
1500000US131171306082    1
Name: count, dtype: int64

In [27]:
crime.to_csv('J_Creek_violent_crime_by_BG.csv')