In [43]:
import pandas as pd
import numpy as np

In [45]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime_Reports.csv')
print(dfCrime.shape)
dfCrime.head()

(2613106, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,03/17/2006,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,03/17/2006,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,03/10/2006,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,10/01/2005,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,02/09/2006,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [46]:
dfCrime['Occurred Date'] = pd.to_datetime(dfCrime['Occurred Date'])
dfCrime.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,2006-03-17,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,2006-03-17,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,2006-03-10,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,2005-10-01,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,2006-02-09,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [47]:
dfCrime = dfCrime.loc[(dfCrime['Occurred Date'] >= '2019-01-01') & (dfCrime['Occurred Date'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

(104123, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
2024247,201910080,DWI 2ND,2102,N,01/01/2019 01:10,2019-01-01,110.0,01/01/2019 01:10,01/01/2019,110.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,5.0,DA,2,C,01/04/2019,NaN,NaN,4.530013e+09
2024248,20195000001,THEFT,600,N,01/01/2019 00:00,2019-01-01,0.0,01/01/2019 02:08,01/01/2019,208.0,OTHER / UNKNOWN,9.0,GE,4,N,01/02/2019,23H,Theft,4.530011e+09
2024249,201910622,AGG ASSAULT,402,N,01/01/2019 03:34,2019-01-01,334.0,01/01/2019 03:34,01/01/2019,334.0,OTHER / UNKNOWN,4.0,ED,2,N,01/27/2019,13A,Aggravated Assault,4.530408e+09
2024250,201910152,FELONY ENHANCEMENT/ASSLT W/INJ,909,Y,01/01/2019 00:27,2019-01-01,27.0,01/01/2019 00:27,01/01/2019,27.0,RESIDENCE / HOME,5.0,FR,1,C,01/01/2019,NaN,NaN,4.530317e+09
2024251,201910486,POSS OF FIREARM BY FELON,1502,N,01/01/2019 01:52,2019-01-01,152.0,01/01/2019 01:52,01/01/2019,152.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2019,NaN,NaN,4.530011e+09

In [48]:
list(dfCrime['Category Description'].unique())

[nan,
 'Theft',
 'Aggravated Assault',
 'Rape',
 'Auto Theft',
 'Robbery',
 'Burglary',
 'Murder']

In [49]:
dfCrime = dfCrime[dfCrime['Category Description'].isna() == False]
dfCrime.shape

(40337, 19)

In [50]:
dfCrime = dfCrime[dfCrime['Census Block Group'].isnull() == False]
dfCrime['Census Block Group'] = dfCrime['Census Block Group'].apply(lambda x: f"{x:.0f}")
dfCrime['Census Block Group'] = '48' + dfCrime['Census Block Group']
dfCrime['AFFGEOID'] = '1500000US' + dfCrime['Census Block Group']
print(dfCrime.shape)
dfCrime.head()

(39990, 20)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group,AFFGEOID
2024248,20195000001,THEFT,600,N,01/01/2019 00:00,2019-01-01,0.0,01/01/2019 02:08,01/01/2019,208.0,OTHER / UNKNOWN,9.0,GE,4,N,01/02/2019,23H,Theft,484530011022,1500000US484530011022
2024249,201910622,AGG ASSAULT,402,N,01/01/2019 03:34,2019-01-01,334.0,01/01/2019 03:34,01/01/2019,334.0,OTHER / UNKNOWN,4.0,ED,2,N,01/27/2019,13A,Aggravated Assault,484530408003,1500000US484530408003
2024253,201910774,AGG ASLT STRANGLE/SUFFOCATE,410,Y,01/01/2019 03:00,2019-01-01,300.0,01/01/2019 05:06,01/01/2019,506.0,RESIDENCE / HOME,3.0,HE,3,C,01/01/2019,13A,Aggravated Assault,484530023254,1500000US484530023254
2024263,20195000015,BURGLARY OF VEHICLE,601,N,01/01/2019 00:00,2019-01-01,0.0,01/01/2019 08:41,01/01/2019,841.0,PARKING /DROP LOT/ GARAGE,4.0,ID,7,N,01/02/2019,23F,Theft,484530405001,1500000US484530405001
2024265,201911134,THEFT FROM PERSON,610,N,01/01/2019 05:50,2019-01-01,550.0,01/01/2019 06:17,01/01/2019,617.0,OTHER / UNKNOWN,4.0,ED,1,N,01/01/2019,23A,Theft,484530406001,1500000US484530406001

In [51]:
crime = dfCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(662, 1)

                       count
AFFGEOID
1500000US484530011011    885
1500000US484530011032    575
1500000US484530324001    515
1500000US484530403003    426
1500000US484530021054    424

In [52]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/AustinTX_all_crime_by_BG.csv')

In [53]:
violentCrimes = ['Aggravated Assault', 'Rape', 'Robbery', 'Murder']
dfViolentCrime = dfCrime[dfCrime['Category Description'].isin(violentCrimes)]
crime = dfViolentCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(538, 1)

                       count
AFFGEOID
1500000US484530011011    149
1500000US484530021054     63
1500000US484530011032     59
1500000US484530407003     47
1500000US484530009024     40

In [54]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/AustinTX_violent_crime_by_BG.csv')

In [55]:
propertyCrimes = ['Theft', 'Auto Theft', 'Burglary']
dfPropertyCrime = dfCrime[dfCrime['Category Description'].isin(propertyCrimes)]
crime = dfPropertyCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(656, 1)

                       count
AFFGEOID
1500000US484530011011    736
1500000US484530011032    516
1500000US484530324001    501
1500000US484530019113    404
1500000US484530403003    400

In [56]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/AustinTX_property_crime_by_BG.csv')

In [57]:
propertyCrimes = ['Auto Theft']
dfPropertyCrime = dfCrime[dfCrime['Category Description'].isin(propertyCrimes)]
crime = dfPropertyCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(529, 1)

                       count
AFFGEOID
1500000US484530401001     30
1500000US484530023221     30
1500000US484530011011     30
1500000US484530454003     29
1500000US484530019113     28

In [59]:
crime.to_csv('/Users/austincoffelt/Documents/RW Data/AustinTX_MV_crime_by_BG.csv')