In [56]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [58]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Raleigh_Police_Incidents_(NIBRS).csv')
print(dfCrime.shape)
dfCrime.head()

(564584, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
0,NaN,NaN,12001,9cdee08d-11c8-4789-864b-6965a1b2e620,NaN,MISCELLANEOUS,81H,Miscellaneous/Missing Person (18 & over),NaN,NaN,...,2017/01/15 03:28:00+00,2017,1,14,22,Saturday,0.0,0.0,RPD,2017/01/19 20:11:28.950+00
1,NaN,NaN,12002,6f6731f4-dd64-44c7-895c-555de2703c8a,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2017/07/29 12:35:00+00,2017,7,29,8,Saturday,0.0,0.0,RPD,2017/08/01 14:06:50.553+00
2,NaN,NaN,12003,f0fd0e92-448e-4ca8-86c9-e6594564318b,NaN,MISCELLANEOUS,81F,Miscellaneous/Mental Commitment,NaN,NaN,...,2016/03/07 03:52:00+00,2016,3,6,22,Sunday,0.0,0.0,RPD,2016/04/14 14:43:38.923+00
3,NaN,NaN,12004,8a212e84-7b53-478a-b225-c212aa25d7fd,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2015/03/24 04:59:00+00,2015,3,24,0,Tuesday,0.0,0.0,RPD,2015/03/25 19:24:28.430+00
4,NaN,NaN,12005,01614b98-48f5-4374-a561-17c4b29d8857,NaN,MISCELLANEOUS,81A,Miscellaneous/All Other Non-Offenses,NaN,NaN,...,2015/12/23 00:57:00+00,2015,12,22,19,Tuesday,0.0,0.0,RPD,2016/01/13 19:29:51.767+00

In [59]:
list(dfCrime.columns)

['X',
 'Y',
 'OBJECTID',
 'GlobalID',
 'case_number',
 'crime_category',
 'crime_code',
 'crime_description',
 'crime_type',
 'reported_block_address',
 'city_of_incident',
 'city',
 'district',
 'reported_date',
 'reported_year',
 'reported_month',
 'reported_day',
 'reported_hour',
 'reported_dayofwk',
 'latitude',
 'longitude',
 'agency',
 'updated_date']

In [60]:
dfCrime = dfCrime[dfCrime['reported_year'] == 2019]
print(dfCrime.shape)
dfCrime.head()

(51244, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
191957,-8.750915e+06,4.272618e+06,457459,ae0229a8-a536-403c-a230-dc8a08f88dc3,P19000003,WEAPONS VIOLATION,51C,Weapons/Shots Fired,CRIMES AGAINST SOCIETY,1500 BLOCK N RALEIGH BLVD,...,2019/01/01 05:16:00+00,2019,1,1,0,Tuesday,35.796221,-78.610803,RPD,2019/12/18 14:35:39.089+00
191960,-8.745724e+06,4.277541e+06,457463,f4367968-b578-4a63-ae8f-65082de42df8,P19000016,WEAPONS VIOLATION,51C,Weapons/Shots Fired,CRIMES AGAINST SOCIETY,3700 BLOCK WYNDCLIFF CT,...,2019/01/01 06:08:00+00,2019,1,1,1,Tuesday,35.832088,-78.564175,RPD,2019/12/18 14:35:45.020+00
191961,-8.754084e+06,4.269971e+06,457464,d00fc59a-7780-4bc5-9f53-9db219414435,P19000009,ASSAULT,25G,Assault/Aggravated,CRIMES AGAINST PERSONS,300 BLOCK FAYETTEVILLE ST,...,2019/01/01 05:44:00+00,2019,1,1,0,Tuesday,35.776933,-78.639276,RPD,2022/08/04 22:11:02.987+00
191962,-8.752382e+06,4.269734e+06,457465,296be202-96e4-4dea-b266-41431542e163,P19000007,WEAPONS VIOLATION,51C,Weapons/Shots Fired,CRIMES AGAINST SOCIETY,E DAVIE ST&S STATE ST,...,2019/01/01 05:30:00+00,2019,1,1,0,Tuesday,35.775204,-78.623982,RPD,2019/12/18 14:35:40.969+00
191966,-8.762217e+06,4.271278e+06,457471,9e0ea9f5-ff27-46f3-8602-4546a23ca529,P19000034,ASSAULT,25E,Assault/Simple,CRIMES AGAINST PERSONS,5100 BLOCK WESTERN BLVD,...,2019/01/01 07:30:00+00,2019,1,1,2,Tuesday,35.786460,-78.712333,RPD,2019/12/18 14:36:00.100+00

In [61]:
list(dfCrime['crime_description'].unique())

['Weapons/Shots Fired',
 'Assault/Aggravated',
 'Assault/Simple',
 'Motor Vehicle Theft',
 'Miscellaneous/All Other Non-Offenses',
 'All Other/Damage to Property (minor)',
 'Traffic/DWI (Driving While Impaired)',
 'Disorderly Conduct/Resist-Delay-Obstruct Officer',
 'Damage to Property (Group A)',
 'Burglary/Residential',
 'Burglary/Commercial or Non-Residential',
 'Disorderly Conduct/Drunk-Disorderly',
 'Weapons/Carry Concealed Weapon',
 'Miscellaneous/Mental Commitment',
 'Miscellaneous/Missing Person (18 & over)',
 'Drug Violation/Felony',
 'Larceny/All Other',
 'Miscellaneous/Suicide',
 'Larceny/Theft from Motor Vehicle',
 'Robbery/From Business',
 'Larceny/Theft from Building',
 'Miscellaneous/Lost Property',
 'Sex Offense/Forcible Rape',
 'All Other/All Other Offenses',
 'Fraud/False Pretense or Swindle',
 'Miscellaneous/Found Property',
 'Larceny/Purse-Snatching',
 'Fraud/Worthless-Bad Checks',
 'All Other/Harassing Telephone Calls',
 'Assault/Intimidation-Communicating Threats',
 'Larceny/Theft of MV Parts-Accessories',
 'Stolen Property/Possession (w/ Arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Drug Equipment/Paraphernalia',
 'Weapons/Illegal Possession of Weapon',
 'Robbery/From Person',
 'Fraud/Credit Card-ATM Fraud',
 'Miscellaneous/Missing Person (17 & under)',
 'Extortion/Blackmail',
 'All Other/Trespassing',
 'Drug Violation/Misdemeanor',
 'Larceny/Shoplifting',
 'Humane/Vicious Animal',
 'Miscellaneous/Deceased Person',
 'Humane/Animal Bite',
 'Child Abuse/Simple',
 'Sex Offense/Forcible Sodomy',
 'Fraud/ID Theft',
 'Humane/Animal Cruelty',
 'Miscellaneous/Injured Person',
 'Liquor-Alcohol Law Violations',
 'Human Trafficking/Involuntary Servitude',
 'Larceny/Pocket-Picking',
 'Humane/Rabies Test',
 'Miscellaneous/Overdose',
 'Stolen Property/Recover Stolen Vehicle (no arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Humane/Injured Animal',
 'Counterfeiting/Forgery',
 'Sex Offense/Peeping Tom',
 'All Other/Unauthorized Use of Vehicle',
 'Stolen Property/Recover Stolen Property (no arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Stolen Property/Possess Stolen Vehicle (w/ Arrest) (STOLEN FROM OTHER JURISDICTION)',
 'Humane/Chemical Deployment',
 'Kidnapping/Abduction',
 'Disorderly Conduct/All Other',
 'Miscellaneous/Overdose Death',
 'Sex Offense/Forcible Fondling',
 'Disorderly Conduct/Disturbing the Peace',
 'Sex Offense/Indecent Exposure',
 'Embezzlement',
 'Traffic/Citizen Request',
 'Arson',
 'Family Offenses/Nonviolent (eg: neglect)',
 'Sex Offense/Statutory Rape',
 'Humane/All Other Humane',
 'Fraud/Wire Fraud',
 'Fraud/Impersonation of LEO',
 'Prostitution/Assisting-Promoting',
 'Human Trafficking/Commercial Sex Acts',
 'All Other/Noise Ordinance Violation',
 'Sex Offense/Incest',
 'Fraud/Welfare Fraud',
 'Larceny/Theft from Coin-Operated Machine',
 'Pornography/Obscene Material',
 'Humane/Stray',
 'Disorderly Conduct/Begging',
 'Juvenile/Truancy',
 'Humane/Injured Person',
 'Homicide/Murder-Nonnegligent Manslaughter',
 'Bribery',
 'Prostitution/Engaging',
 'Fraud/Rental Car Conversion',
 'ALL OTHER/TRESPASSING',
 'Weapons/All Other',
 'Child Abuse/Aggravated',
 'Humane/Pick Up Animal(s)',
 'Forgery/Prescription Fraud',
 'Sex Offense/Assault with an Object',
 'Gambling/Operating-Promotion-Assisting',
 'Homicide/Justifiable Homicide',
 'Prostitution/Purchasing',
 'Gambling/Betting-Wagering']

In [62]:
violentCrimes = [
    'Homicide/Murder-Nonnegligent Manslaughter',
    'Homicide/Negligent Manslaughter',
    'Robbery/From Person',
    'Robbery/From Business',
    'Assault/Aggravated',
    'Sex Offense/Forcible Rape',
    'Sex Offense/Forcible Fondling',
    'Sex Offense/Forcible Sodomy',
    'Sex Offense/Assault with an Object',
    'Child Abuse/Aggravated',
    'Human Trafficking/Involuntary Servitude']
propertyCrimes = ['Motor Vehicle Theft', 'Burglary/Residential', 'Burglary/Commercial or Non-Residential', 'Larceny/All Other',
                  'Larceny/Theft from Motor Vehicle', 'Larceny/Theft from Building', 'Larceny/Purse-Snatching',
                  'Larceny/Theft of MV Parts-Accessories', 'Larceny/Shoplifting', 'Larceny/Pocket-Picking']
both = violentCrimes + propertyCrimes
dfCrime = dfCrime[dfCrime['crime_description'].isin(both)]
print(dfCrime.shape)
dfCrime.head()

(12856, 23)

,X,Y,OBJECTID,GlobalID,case_number,crime_category,crime_code,crime_description,crime_type,reported_block_address,...,reported_date,reported_year,reported_month,reported_day,reported_hour,reported_dayofwk,latitude,longitude,agency,updated_date
191961,-8.754084e+06,4.269971e+06,457464,d00fc59a-7780-4bc5-9f53-9db219414435,P19000009,ASSAULT,25G,Assault/Aggravated,CRIMES AGAINST PERSONS,300 BLOCK FAYETTEVILLE ST,...,2019/01/01 05:44:00+00,2019,1,1,0,Tuesday,35.776933,-78.639276,RPD,2022/08/04 22:11:02.987+00
191967,-8.744771e+06,4.263144e+06,457474,f22ff088-4944-4243-80b2-1b11c9c191a0,P19000021,MV THEFT,40A,Motor Vehicle Theft,CRIMES AGAINST PROPERTY,3900 BLOCK VOLKSWALK PL,...,2019/01/01 06:26:00+00,2019,1,1,1,Tuesday,35.727166,-78.555612,RPD,2022/12/20 23:49:01.013+00
191980,-8.749101e+06,4.288230e+06,457487,b3d985b3-897d-4879-af0f-6d5483f55e69,P19000053,BURGLARY/RESIDENTIAL,30B,Burglary/Residential,CRIMES AGAINST PROPERTY,1300 BLOCK RIO VALLEY DR,...,2019/01/01 09:07:00+00,2019,1,1,4,Tuesday,35.909891,-78.594511,RPD,2022/02/15 15:33:37.713+00
191984,-8.754700e+06,4.269814e+06,457491,9b05659d-14d7-4f6b-a400-e49ef748b400,P19000047,ASSAULT,25G,Assault/Aggravated,CRIMES AGAINST PERSONS,300 BLOCK W DAVIE ST,...,2019/01/01 08:08:00+00,2019,1,1,3,Tuesday,35.775786,-78.644812,RPD,2019/12/18 14:36:06.680+00
191985,-8.751094e+06,4.266949e+06,457492,73055c94-8b21-48c2-8645-b65257cdad48,P19000044,BURGLARY/COMMERCIAL,30A,Burglary/Commercial or Non-Residential,CRIMES AGAINST PROPERTY,1800 BLOCK ROCK QUARRY RD,...,2019/01/01 08:24:00+00,2019,1,1,3,Tuesday,35.754903,-78.612413,RPD,2019/12/18 14:36:05.433+00

In [63]:
dfCrime = dfCrime[['crime_description', 'latitude', 'longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
dfCrime = dfCrime[['crime_description', 'geometry']]
dfCrime.head()

,crime_description,geometry
191961,Assault/Aggravated,POINT (-78.6392758439999 35.7769329560001)
191967,Motor Vehicle Theft,POINT (-78.555611601 35.727165825)
191980,Burglary/Residential,POINT (-78.59451127200001 35.909891412)
191984,Assault/Aggravated,POINT (-78.644811981 35.775785951)
191985,Burglary/Commercial or Non-Residential,POINT (-78.612413121 35.7549025370001)

In [64]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_37_bg_500k/cb_2018_37_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(6137, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,37,019,020512,3,1500000US370190205123,370190205123,3,BG,995208,422576,"POLYGON ((-78.44 33.896, -78.439 33.896, -78.4..."
1,37,175,960300,5,1500000US371759603005,371759603005,5,BG,804486,0,"POLYGON ((-82.741 35.224, -82.738 35.227, -82...."
2,37,119,006209,1,1500000US371190062091,371190062091,1,BG,1128213,10851,"POLYGON ((-80.888 35.452, -80.889 35.46, -80.8..."
3,37,067,002903,1,1500000US370670029031,370670029031,1,BG,2146095,3772,"POLYGON ((-80.225 36.159, -80.222 36.162, -80...."
4,37,191,000401,3,1500000US371910004013,371910004013,3,BG,2531223,0,"POLYGON ((-77.918 35.347, -77.915 35.349, -77...."

In [65]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                             crime_description                geometry
191961                      Assault/Aggravated  POINT (-78.639 35.777)
191967                     Motor Vehicle Theft  POINT (-78.556 35.727)
191980                    Burglary/Residential   POINT (-78.595 35.91)
191984                      Assault/Aggravated  POINT (-78.645 35.776)
191985  Burglary/Commercial or Non-Residential  POINT (-78.612 35.755)

In [66]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(12856, 13)

,crime_description,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
191961,Assault/Aggravated,POINT (-78.639 35.777),195.0,37,183,050100,1,1500000US371830501001,371830501001,1,BG,2144498.0,0.0
191967,Motor Vehicle Theft,POINT (-78.556 35.727),3421.0,37,183,052807,2,1500000US371830528072,371830528072,2,BG,19156927.0,32532.0
191980,Burglary/Residential,POINT (-78.595 35.91),4249.0,37,183,054013,1,1500000US371830540131,371830540131,1,BG,3868603.0,0.0
191984,Assault/Aggravated,POINT (-78.645 35.776),195.0,37,183,050100,1,1500000US371830501001,371830501001,1,BG,2144498.0,0.0
191985,Burglary/Commercial or Non-Residential,POINT (-78.612 35.755),1990.0,37,183,052102,1,1500000US371830521021,371830521021,1,BG,3555461.0,2896.0

In [72]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US371830540151    647
1500000US371830501001    468
1500000US371830537171    457
1500000US371830540181    356
1500000US371830527012    249
                        ...
1500000US371830537192      1
1500000US371830538083      1
1500000US371830528021      1
1500000US371830530031      1
1500000US371830538051      1
Name: count, Length: 239, dtype: int64

In [77]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/ral_All_Crime_BG.csv')

In [80]:
result2 = result[result['crime_description'].isin(violentCrimes)]
crime = result2['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US371830501001    56
1500000US371830545002    42
1500000US371830509002    41
1500000US371830527073    34
1500000US371830509003    33
                         ..
1500000US371830540132     1
1500000US371830542102     1
1500000US371830540121     1
1500000US371830542091     1
1500000US371830504002     1
Name: count, Length: 172, dtype: int64

In [82]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/ral_Violent_Crime_BG.csv')

In [84]:
result3 = result[result['crime_description'].isin(propertyCrimes)]
crime = result3['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US371830540151    633
1500000US371830537171    450
1500000US371830501001    412
1500000US371830540181    333
1500000US371830527012    235
                        ...
1500000US371830537192      1
1500000US371830538083      1
1500000US371830535122      1
1500000US371830511013      1
1500000US371830538051      1
Name: count, Length: 237, dtype: int64

In [86]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/ral_Property_Crime_BG.csv')

In [88]:
result4 = result[result['crime_description'].isin(['Motor Vehicle Theft'])]
crime = result4['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US371830501001    33
1500000US371830545002    20
1500000US371830527051    19
1500000US371830528062    18
1500000US371830541061    18
                         ..
1500000US371830517003     1
1500000US371830515011     1
1500000US371830541042     1
1500000US371830514004     1
1500000US371830514001     1
Name: count, Length: 182, dtype: int64

In [90]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/ral_MV_Crime_BG.csv')