In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/PDI__Police_Data_Initiative__Crime_Incidents_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_18446/2843088889.py:1: DtypeWarning: Columns (1,8,12,13,14,17,27,31) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/PDI__Police_Data_Initiative__Crime_Incidents_20250422.csv')

(538814, 40)

,INSTANCEID,INCIDENT_NO,DATE_REPORTED,DATE_FROM,DATE_TO,CLSD,UCR,DST,BEAT,OFFENSE,...,SUSPECT_AGE,SUSPECT_RACE,SUSPECT_ETHNICITY,SUSPECT_GENDER,TOTALNUMBERVICTIMS,TOTALSUSPECTS,UCR_GROUP,ZIP,COMMUNITY_COUNCIL_NEIGHBORHOOD,SNA_NEIGHBORHOOD
0,5D3A0BAF-7F75-4FCE-AD7D-454367AC1AC0,249014554,06/02/2024 11:19:00 PM,06/02/2024 11:15:00 PM,06/02/2024 11:19:00 PM,F--CLEARED BY ARREST - ADULT,862.0,3,4,DOMESTIC VIOLENCE,...,UNKNOWN,NaN,NaN,NaN,1.0,NaN,PART 2 MINOR,45225.0,ENGLISH WOODS,ENGLISH WOODS
1,927F0CDF-59DF-43EC-99EC-9055F749B169,249014567,06/02/2024 11:03:00 PM,06/02/2024 11:00:00 PM,06/02/2024 11:02:00 PM,F--CLEARED BY ARREST - ADULT,2709.0,1,2,VIOLATE PROTECTION ORDER/CONSENT AGREEMENT,...,UNKNOWN,NaN,NaN,NaN,NaN,NaN,PART 2 MINOR,45202.0,OTR,OVER-THE-RHINE
2,3959F0C0-A992-4A19-B188-3469061241BF,249014562,06/02/2024 11:00:00 PM,06/02/2024 10:45:00 PM,06/02/2024 10:58:00 PM,H--WARRANT ISSUED,600.0,4,1,THEFT,...,UNDER 18,NaN,NaN,FEMALE,NaN,NaN,THEFT,45219.0,CORRYVILLE,CORRYVILLE
3,3959F0C0-A992-4A19-B188-3469061241BF,249014562,06/02/2024 11:00:00 PM,06/02/2024 10:45:00 PM,06/02/2024 10:58:00 PM,H--WARRANT ISSUED,600.0,4,1,THEFT,...,UNDER 18,NaN,NaN,FEMALE,NaN,NaN,THEFT,45219.0,CORRYVILLE,CORRYVILLE
4,14AF299C-3F8A-472C-926C-30A56733C5C0,249014548,06/02/2024 10:29:19 PM,06/02/2024 09:55:00 PM,06/02/2024 10:00:00 PM,H--WARRANT ISSUED,600.0,4,1,THEFT,...,UNDER 18,NaN,NaN,FEMALE,NaN,NaN,THEFT,45219.0,NaN,NaN

In [5]:
dfCrime['DATE_REPORTED'] = pd.to_datetime(dfCrime['DATE_REPORTED'])
dfCrime = dfCrime[(dfCrime['DATE_REPORTED'] >= '2018-01-01') & (dfCrime['DATE_REPORTED'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_18446/2203112037.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfCrime['DATE_REPORTED'] = pd.to_datetime(dfCrime['DATE_REPORTED'])

(35866, 40)

,INSTANCEID,INCIDENT_NO,DATE_REPORTED,DATE_FROM,DATE_TO,CLSD,UCR,DST,BEAT,OFFENSE,...,SUSPECT_AGE,SUSPECT_RACE,SUSPECT_ETHNICITY,SUSPECT_GENDER,TOTALNUMBERVICTIMS,TOTALSUSPECTS,UCR_GROUP,ZIP,COMMUNITY_COUNCIL_NEIGHBORHOOD,SNA_NEIGHBORHOOD
181101,1C3DFEEE-8A69-43B7-A143-029C33FD7A70,199000005,2018-12-31 23:45:00,12/31/2018 11:15:00 PM,12/31/2018 11:30:00 PM,J--CLOSED,2606.0,4,5,ABDUCTION,...,UNKNOWN,NaN,NOT OF HISPANIC ORIG,MALE,2.0,1.0,PART 2 MINOR,45237.0,ROSELAWN,ROSELAWN
181102,1C3DFEEE-8A69-43B7-A143-029C33FD7A70,199000005,2018-12-31 23:45:00,12/31/2018 11:15:00 PM,12/31/2018 11:30:00 PM,J--CLOSED,551.0,4,5,BURGLARY,...,UNKNOWN,NaN,NOT OF HISPANIC ORIG,MALE,2.0,1.0,BURGLARY/BREAKING ENTERING,45237.0,ROSELAWN,ROSELAWN
181103,1C3DFEEE-8A69-43B7-A143-029C33FD7A70,199000005,2018-12-31 23:45:00,12/31/2018 11:15:00 PM,12/31/2018 11:30:00 PM,J--CLOSED,2606.0,4,5,ABDUCTION,...,UNKNOWN,NaN,NOT OF HISPANIC ORIG,MALE,2.0,1.0,PART 2 MINOR,45237.0,ROSELAWN,ROSELAWN
181104,1C3DFEEE-8A69-43B7-A143-029C33FD7A70,199000005,2018-12-31 23:45:00,12/31/2018 11:15:00 PM,12/31/2018 11:30:00 PM,J--CLOSED,551.0,4,5,BURGLARY,...,UNKNOWN,NaN,NOT OF HISPANIC ORIG,MALE,2.0,1.0,BURGLARY/BREAKING ENTERING,45237.0,ROSELAWN,ROSELAWN
181105,1C3DFEEE-8A69-43B7-A143-029C33FD7A70,199000005,2018-12-31 23:45:00,12/31/2018 11:15:00 PM,12/31/2018 11:30:00 PM,J--CLOSED,862.0,4,5,DOMESTIC VIOLENCE,...,UNKNOWN,NaN,NOT OF HISPANIC ORIG,MALE,2.0,1.0,PART 2 MINOR,45237.0,ROSELAWN,ROSELAWN

In [9]:
list(dfCrime['UCR_GROUP'].unique())

['PART 2 MINOR',
 'BURGLARY/BREAKING ENTERING',
 'THEFT',
 'ROBBERY',
 'AGGRAVATED ASSAULTS',
 'UNAUTHORIZED USE',
 'RAPE',
 'HOMICIDE',
 nan]

In [11]:
violentCrimes = ['ROBBERY', 'AGGRAVATED ASSAULTS', 'RAPE', 'HOMICIDE']
dfCrime = dfCrime[dfCrime['UCR_GROUP'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(3721, 40)

,INSTANCEID,INCIDENT_NO,DATE_REPORTED,DATE_FROM,DATE_TO,CLSD,UCR,DST,BEAT,OFFENSE,...,SUSPECT_AGE,SUSPECT_RACE,SUSPECT_ETHNICITY,SUSPECT_GENDER,TOTALNUMBERVICTIMS,TOTALSUSPECTS,UCR_GROUP,ZIP,COMMUNITY_COUNCIL_NEIGHBORHOOD,SNA_NEIGHBORHOOD
181118,A48400AB-585A-447F-9B18-D6E307BCAC62,189033848,2018-12-29 05:59:00,12/29/2018 04:30:00 AM,12/29/2018 05:59:00 AM,J--CLOSED,301.0,5,4,ROBBERY,...,UNKNOWN,BLACK,NOT OF HISPANIC ORIG,MALE,1.0,2.0,ROBBERY,NaN,COLLEGE HILL,COLLEGE HILL
181119,A48400AB-585A-447F-9B18-D6E307BCAC62,189033848,2018-12-29 05:59:00,12/29/2018 04:30:00 AM,12/29/2018 05:59:00 AM,J--CLOSED,301.0,5,4,ROBBERY,...,UNKNOWN,BLACK,NOT OF HISPANIC ORIG,MALE,1.0,2.0,ROBBERY,NaN,COLLEGE HILL,COLLEGE HILL
181130,315FE6DC-06A2-4B2D-A1D6-C825021DD690,189033783,2018-12-29 03:48:00,12/29/2018 03:00:00 AM,12/29/2018 03:30:00 AM,F--CLEARED BY ARREST - ADULT,401.0,5,3,FELONIOUS ASSAULT,...,UNKNOWN,NaN,NaN,NaN,1.0,NaN,AGGRAVATED ASSAULTS,45232.0,WINTON HILLS,WINTON HILLS
181139,25D34F1C-206A-45CB-98D5-9C4378647E93,189033560,2018-12-26 15:56:00,12/26/2018 03:40:00 PM,12/26/2018 03:43:00 PM,F--CLEARED BY ARREST - ADULT,303.0,4,1,AGGRAVATED ROBBERY,...,UNDER 18,NaN,NOT OF HISPANIC ORIG,MALE,2.0,3.0,ROBBERY,45219.0,MOUNT AUBURN,MT. AUBURN
181140,25D34F1C-206A-45CB-98D5-9C4378647E93,189033560,2018-12-26 15:56:00,12/26/2018 03:40:00 PM,12/26/2018 03:43:00 PM,F--CLEARED BY ARREST - ADULT,303.0,4,1,AGGRAVATED ROBBERY,...,UNDER 18,NaN,NOT OF HISPANIC ORIG,MALE,2.0,3.0,ROBBERY,45219.0,MOUNT AUBURN,MT. AUBURN

In [15]:
list(dfCrime.columns)

['INSTANCEID',
 'INCIDENT_NO',
 'DATE_REPORTED',
 'DATE_FROM',
 'DATE_TO',
 'CLSD',
 'UCR',
 'DST',
 'BEAT',
 'OFFENSE',
 'LOCATION',
 'THEFT_CODE',
 'FLOOR',
 'SIDE',
 'OPENING',
 'HATE_BIAS',
 'DAYOFWEEK',
 'RPT_AREA',
 'CPD_NEIGHBORHOOD',
 'WEAPONS',
 'DATE_OF_CLEARANCE',
 'HOUR_FROM',
 'HOUR_TO',
 'ADDRESS_X',
 'LONGITUDE_X',
 'LATITUDE_X',
 'VICTIM_AGE',
 'VICTIM_RACE',
 'VICTIM_ETHNICITY',
 'VICTIM_GENDER',
 'SUSPECT_AGE',
 'SUSPECT_RACE',
 'SUSPECT_ETHNICITY',
 'SUSPECT_GENDER',
 'TOTALNUMBERVICTIMS',
 'TOTALSUSPECTS',
 'UCR_GROUP',
 'ZIP',
 'COMMUNITY_COUNCIL_NEIGHBORHOOD',
 'SNA_NEIGHBORHOOD']

In [17]:
dfCrime = dfCrime[['UCR_GROUP',  'LONGITUDE_X', 'LATITUDE_X']]
dfCrime.head()

                  UCR_GROUP  LONGITUDE_X  LATITUDE_X
181118              ROBBERY   -84.541016   39.198022
181119              ROBBERY   -84.542746   39.199142
181130  AGGRAVATED ASSAULTS   -84.512492   39.191016
181139              ROBBERY   -84.501377   39.120911
181140              ROBBERY   -84.502387   39.121751

In [19]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE_X'], row['LATITUDE_X']), axis=1)
dfCrime = dfCrime[['UCR_GROUP', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(3721, 2)

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_18446/3384940003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['LONGITUDE_X'], row['LATITUDE_X']), axis=1)

                  UCR_GROUP                               geometry
181118              ROBBERY  POINT (-84.54101622 39.1980219900598)
181119              ROBBERY  POINT (-84.54274622 39.1991419900598)
181130  AGGRAVATED ASSAULTS  POINT (-84.51249235 39.1910158600597)
181139              ROBBERY  POINT (-84.50137732 39.1209112700598)
181140              ROBBERY  POINT (-84.50238732 39.1217512700598)

In [21]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_39_bg_500k/cb_2018_39_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(9234, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,39,153,532706,1,1500000US391535327061,391535327061,1,BG,894129,3255,"POLYGON ((-81.576 41.316, -81.571 41.314, -81...."
1,39,049,006383,4,1500000US390490063834,390490063834,4,BG,594035,7177,"POLYGON ((-83.091 40.113, -83.086 40.112, -83...."
2,39,055,310100,1,1500000US390553101001,390553101001,1,BG,29788713,138730,"POLYGON ((-81.052 41.703, -81.051 41.714, -81...."
3,39,091,004500,1,1500000US390910045001,390910045001,1,BG,861909,0,"POLYGON ((-83.764 40.367, -83.763 40.375, -83...."
4,39,035,141100,2,1500000US390351411002,390351411002,2,BG,200434,0,"POLYGON ((-81.584 41.51, -81.578 41.513, -81.5..."

In [23]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                  UCR_GROUP                geometry
181118              ROBBERY  POINT (-84.541 39.198)
181119              ROBBERY  POINT (-84.543 39.199)
181130  AGGRAVATED ASSAULTS  POINT (-84.512 39.191)
181139              ROBBERY  POINT (-84.501 39.121)
181140              ROBBERY  POINT (-84.502 39.122)

In [25]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(3721, 13)

,UCR_GROUP,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
181118,ROBBERY,POINT (-84.541 39.198),8793.0,39,061,008201,2,1500000US390610082012,390610082012,2,BG,903487.0,0.0
181119,ROBBERY,POINT (-84.543 39.199),69.0,39,061,008202,1,1500000US390610082021,390610082021,1,BG,452311.0,0.0
181130,AGGRAVATED ASSAULTS,POINT (-84.512 39.191),7269.0,39,061,008000,1,1500000US390610080001,390610080001,1,BG,1627558.0,0.0
181139,ROBBERY,POINT (-84.501 39.121),1202.0,39,061,002200,1,1500000US390610022001,390610022001,1,BG,181711.0,0.0
181140,ROBBERY,POINT (-84.502 39.122),1202.0,39,061,002200,1,1500000US390610022001,390610022001,1,BG,181711.0,0.0

In [27]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US390610080001    82
1500000US390610094001    75
1500000US390610017001    49
1500000US390610060001    49
1500000US390610077002    47
                         ..
1500000US390610052002     1
1500000US390610051002     1
1500000US390610071003     1
1500000US390610082022     1
1500000US390610020002     1
Name: count, Length: 251, dtype: int64

In [29]:
# export as a csv
crime.to_csv('Cinci_Violent_Crime_BG.csv')