In [23]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [25]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Crimes_-_2001_to_Present.csv')
print(dfCrime.shape)
dfCrime.head()

(8285876, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,13311263,JG503434,07/29/2022 03:39:00 AM,023XX S TROY ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,True,False,...,25.0,30.0,17,NaN,NaN,2022,04/18/2024 03:40:59 PM,NaN,NaN,NaN
1,13053066,JG103252,01/03/2023 04:44:00 PM,039XX W WASHINGTON BLVD,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,SIDEWALK,True,False,...,28.0,26.0,18,NaN,NaN,2023,01/20/2024 03:41:12 PM,NaN,NaN,NaN
2,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,13203321,JG415333,09/06/2023 05:00:00 PM,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,42.0,32.0,14,1174694.0,1901831.0,2023,11/04/2023 03:40:18 PM,41.886018,-87.633938,"(41.886018055, -87.633937881)"
4,13204489,JG416325,09/06/2023 11:00:00 AM,0000X E 8TH ST,0810,THEFT,OVER $500,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,4.0,32.0,06,1176857.0,1896680.0,2023,11/04/2023 03:40:18 PM,41.871835,-87.626151,"(41.871834768, -87.62615082)"

In [26]:
dfCrime.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [27]:
dfCrime = dfCrime[dfCrime['Year'] == 2018]
dfCrime = dfCrime[(dfCrime['Latitude'].isna() == False) & (dfCrime['Longitude'].isna() == False)]
print(dfCrime.shape)
dfCrime.head()

(263556, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
43,13158716,JG362691,11/09/2018 12:00:00 AM,017XX N NASHVILLE AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,RESIDENCE,False,False,...,29.0,25.0,02,1132147.0,1910836.0,2018,09/14/2023 03:41:59 PM,41.911574,-87.789972,"(41.911574252, -87.789972279)"
2420,11465250,JB456922,09/30/2018 01:05:00 PM,109XX S VINCENNES AVE,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,19.0,75.0,04A,1167716.0,1832035.0,2018,09/16/2023 03:41:56 PM,41.694643,-87.661565,"(41.69464271, -87.661565167)"
6266,11269134,JB202455,03/28/2018 08:19:00 AM,013XX W ESTES AVE,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,False,False,...,49.0,1.0,04B,1166077.0,1947524.0,2018,12/24/2024 03:40:31 PM,42.011590,-87.664271,"(42.011590095, -87.664271381)"
9446,12873550,JF451214,01/01/2018 12:01:00 AM,064XX N WASHTENAW AVE,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,True,...,50.0,2.0,02,1157158.0,1942572.0,2018,09/23/2023 03:41:15 PM,41.998188,-87.697224,"(41.998188218, -87.697223659)"
9481,24157,JB417774,09/01/2018 11:49:00 AM,007XX S CAMPBELL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,False,...,28.0,28.0,01A,1159838.0,1896861.0,2018,09/23/2023 03:41:15 PM,41.872699,-87.688629,"(41.872699213, -87.688629374)"

In [28]:
violentCrimeCodes = ['03', '01A', '02', '04A', '01B']
dfCrime = dfCrime[dfCrime['FBI Code'].isin(violentCrimeCodes)]
print(dfCrime.shape)
dfCrime.head()

(18032, 22)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
43,13158716,JG362691,11/09/2018 12:00:00 AM,017XX N NASHVILLE AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,RESIDENCE,False,False,...,29.0,25.0,02,1132147.0,1910836.0,2018,09/14/2023 03:41:59 PM,41.911574,-87.789972,"(41.911574252, -87.789972279)"
2420,11465250,JB456922,09/30/2018 01:05:00 PM,109XX S VINCENNES AVE,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,19.0,75.0,04A,1167716.0,1832035.0,2018,09/16/2023 03:41:56 PM,41.694643,-87.661565,"(41.69464271, -87.661565167)"
9446,12873550,JF451214,01/01/2018 12:01:00 AM,064XX N WASHTENAW AVE,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,True,...,50.0,2.0,02,1157158.0,1942572.0,2018,09/23/2023 03:41:15 PM,41.998188,-87.697224,"(41.998188218, -87.697223659)"
9481,24157,JB417774,09/01/2018 11:49:00 AM,007XX S CAMPBELL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,False,...,28.0,28.0,01A,1159838.0,1896861.0,2018,09/23/2023 03:41:15 PM,41.872699,-87.688629,"(41.872699213, -87.688629374)"
14092,12287367,JE134313,05/01/2018 12:00:00 AM,071XX S MAY ST,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,True,...,17.0,68.0,02,1169888.0,1857397.0,2018,09/27/2023 03:42:22 PM,41.764193,-87.652879,"(41.764192939, -87.652878769)"

In [29]:
dfCrime = dfCrime[['FBI Code', 'Latitude', 'Longitude']]

# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['FBI Code', 'geometry']]
dfCrime.head()

      FBI Code                                geometry
43          02      POINT (-87.789972279 41.911574252)
2420       04A  POINT (-87.66156516700001 41.69464271)
9446        02      POINT (-87.697223659 41.998188218)
9481       01A      POINT (-87.688629374 41.872699213)
14092       02      POINT (-87.652878769 41.764192939)

In [30]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Downloads/Rent-Walk-Local/cb_2018_17_bg_500k/cb_2018_17_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(9689, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,17,031,081202,1,1500000US170310812021,170310812021,1,BG,119267,530065,"POLYGON ((-87.624 41.902, -87.623 41.902, -87...."
1,17,031,300900,3,1500000US170313009003,170313009003,3,BG,58576,0,"POLYGON ((-87.703 41.852, -87.702 41.852, -87...."
2,17,031,806700,3,1500000US170318067003,170318067003,3,BG,402672,0,"POLYGON ((-87.732 42.055, -87.727 42.055, -87...."
3,17,031,711400,3,1500000US170317114003,170317114003,3,BG,158934,0,"POLYGON ((-87.657 41.736, -87.653 41.736, -87...."
4,17,031,040700,3,1500000US170310407003,170310407003,3,BG,99758,0,"POLYGON ((-87.698 41.967, -87.696 41.967, -87...."

In [31]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

      FBI Code                geometry
43          02   POINT (-87.79 41.912)
2420       04A  POINT (-87.662 41.695)
9446        02  POINT (-87.697 41.998)
9481       01A  POINT (-87.689 41.873)
14092       02  POINT (-87.653 41.764)

In [32]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(18032, 13)

,FBI Code,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
43,02,POINT (-87.79 41.912),4219,17,031,250500,2,1500000US170312505002,170312505002,2,BG,327360,0
2420,04A,POINT (-87.662 41.695),1675,17,031,750100,3,1500000US170317501003,170317501003,3,BG,371407,0
9446,02,POINT (-87.697 41.998),2334,17,031,020601,3,1500000US170310206013,170310206013,3,BG,122664,0
9481,01A,POINT (-87.689 41.873),1750,17,031,282700,2,1500000US170312827002,170312827002,2,BG,230737,0
14092,02,POINT (-87.653 41.764),9607,17,031,681400,2,1500000US170316814002,170316814002,2,BG,161502,0

In [33]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US170318391001    134
1500000US170313204001     92
1500000US170318424002     83
1500000US170313201002     68
1500000US170310817002     66
                        ...
1500000US170310615001      1
1500000US170310302002      1
1500000US170317608031      1
1500000US170311101004      1
1500000US170317402004      1
Name: count, Length: 2028, dtype: int64

In [34]:
# export as a csv
crime.to_csv('Chicago_Violent_Crime_BG.csv')