In [1]:
import pandas as pd
import numpy as np

In [5]:
dfCrime = pd.read_csv('/Users/austincoffelt/Downloads/Rent-Walk-Local/Crime_Reports.csv')
print(dfCrime.shape)
dfCrime.head()

(2613106, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,03/17/2006,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,03/17/2006,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,03/10/2006,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,10/01/2005,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,02/09/2006,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [7]:
dfCrime['Occurred Date'] = pd.to_datetime(dfCrime['Occurred Date'])
dfCrime.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2006761045,CRIMINAL MISCHIEF,1400,N,03/17/2006 13:06,2006-03-17,1306.0,03/17/2006 13:06,03/17/2006,1306.0,RESIDENCE / HOME,NaN,88,88,NaN,NaN,NaN,NaN,NaN
1,2006761134,PUBLIC INTOXICATION,2300,N,03/17/2006 14:10,2006-03-17,1410.0,03/17/2006 14:10,03/17/2006,1410.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,NaN,NaN,NaN,NaN,NaN
2,2006691217,THEFT,600,N,03/10/2006 14:15,2006-03-10,1415.0,03/10/2006 14:30,03/10/2006,1430.0,GROCERY / SUPERMARKET,5.0,FR,1,NaN,NaN,23H,Theft,4.530318e+09
3,20065014461,HARASSMENT,2703,N,10/01/2005 08:00,2005-10-01,800.0,03/21/2006 10:50,03/21/2006,1050.0,RESIDENCE / HOME,5.0,DA,3,NaN,03/31/2006,NaN,NaN,4.530020e+09
4,2006692344,THEFT,600,N,02/09/2006 22:39,2006-02-09,2239.0,02/09/2006 22:39,02/09/2006,2239.0,RESIDENCE / HOME,2.0,FR,8,N,03/21/2006,23H,Theft,4.530024e+09

In [9]:
dfCrime = dfCrime.loc[(dfCrime['Occurred Date'] >= '2018-01-01') & (dfCrime['Occurred Date'] < '2019-01-01')]
print(dfCrime.shape)
dfCrime.head()

(99466, 19)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
1925137,201810424,PUBLIC INTOXICATION,2300,N,01/01/2018 02:08,2018-01-01,208.0,01/01/2018 02:08,01/01/2018,208.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2018,NaN,NaN,4.530011e+09
1925139,201810274,AGG ASSAULT FAM/DATE VIOLENCE,402,Y,01/01/2018 01:12,2018-01-01,112.0,01/01/2018 02:58,01/01/2018,258.0,RESIDENCE / HOME,4.0,ED,1,C,01/01/2018,13A,Aggravated Assault,4.530400e+09
1925140,201810399,VIOL CITY ORDINANCE - OTHER,3299,N,01/01/2018 01:55,2018-01-01,155.0,01/01/2018 01:57,01/01/2018,157.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2018,NaN,NaN,4.530011e+09
1925142,201810283,PUBLIC INTOXICATION,2300,N,01/01/2018 03:08,2018-01-01,308.0,01/01/2018 03:08,01/01/2018,308.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,9.0,GE,2,C,01/01/2018,NaN,NaN,4.530011e+09
1925143,201810304,AGG ASLT STRANGLE/SUFFOCATE,410,Y,01/01/2018 01:19,2018-01-01,119.0,01/01/2018 01:19,01/01/2018,119.0,HOTEL / MOTEL / ETC.,9.0,GE,3,C,01/03/2018,13A,Aggravated Assault,4.530011e+09

In [11]:
list(dfCrime['Category Description'].unique())

[nan,
 'Aggravated Assault',
 'Burglary',
 'Theft',
 'Rape',
 'Robbery',
 'Auto Theft',
 'Murder']

In [13]:
dfCrime = dfCrime[(dfCrime['Category Description'] == 'Aggravated Assault') |
                  (dfCrime['Category Description'] == 'Robbery') |
                  (dfCrime['Category Description'] == 'Rape') |
                  (dfCrime['Category Description'] == 'Murder')]
dfCrime.shape

(3825, 19)

In [15]:
dfCrime = dfCrime[dfCrime['Census Block Group'].isnull() == False]
dfCrime['Census Block Group'] = dfCrime['Census Block Group'].apply(lambda x: f"{x:.0f}")
dfCrime['Census Block Group'] = '48' + dfCrime['Census Block Group']
dfCrime['AFFGEOID'] = '1500000US' + dfCrime['Census Block Group']
print(dfCrime.shape)
dfCrime.head()

(3773, 20)

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group,AFFGEOID
1925139,201810274,AGG ASSAULT FAM/DATE VIOLENCE,402,Y,01/01/2018 01:12,2018-01-01,112.0,01/01/2018 02:58,01/01/2018,258.0,RESIDENCE / HOME,4.0,ED,1,C,01/01/2018,13A,Aggravated Assault,484530400003,1500000US484530400003
1925143,201810304,AGG ASLT STRANGLE/SUFFOCATE,410,Y,01/01/2018 01:19,2018-01-01,119.0,01/01/2018 01:19,01/01/2018,119.0,HOTEL / MOTEL / ETC.,9.0,GE,3,C,01/03/2018,13A,Aggravated Assault,484530011032,1500000US484530011032
1925144,201810407,AGG ASSAULT,402,N,01/01/2018 03:03,2018-01-01,303.0,01/01/2018 03:03,01/01/2018,303.0,BAR / NIGHTCLUB,9.0,GE,1,N,02/08/2018,13A,Aggravated Assault,484530011021,1500000US484530011021
1925199,201810858,AGG ASSAULT FAM/DATE VIOLENCE,402,Y,01/01/2018 05:38,2018-01-01,538.0,01/01/2018 05:38,01/01/2018,538.0,RESIDENCE / HOME,2.0,FR,7,C,01/01/2018,13A,Aggravated Assault,484530024511,1500000US484530024511
1925232,201811554,AGG ASSAULT FAM/DATE VIOLENCE,402,Y,01/01/2018 18:30,2018-01-01,1830.0,01/01/2018 19:11,01/01/2018,1911.0,RESIDENCE / HOME,2.0,FR,5,C,01/01/2018,13A,Aggravated Assault,484530024132,1500000US484530024132

In [17]:
crime = dfCrime['AFFGEOID'].value_counts()
crime = pd.DataFrame(crime)
print(crime.shape)
crime.head()

(549, 1)

                       count
AFFGEOID
1500000US484530011011    134
1500000US484530011032     39
1500000US484530009024     39
1500000US484530023161     38
1500000US484530407003     37

In [19]:
crime.to_csv('AustinTX_violent_crime_by_BG.csv')