In [27]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [29]:
dfCrime = pd.read_csv('/Users/austincoffelt/Documents/Rent-Walk-Local/Crime_Responses_20250422.csv')
print(dfCrime.shape)
dfCrime.head()

(218443, 14)

,ID,Incident Type,Report Date,Offense Date,Report Hour of Day,Report Day of Week,Offense Hour of Day,Offense Day of Week,City,State,Address,Latitude,Longitude,Location
0,224011105,Domestic Disturbance,07/29/2024 04:03:32 PM,07/29/2024 01:31:00 PM,16,Monday,13,Monday,GAINESVILLE,FL,2600 BLK SW 31ST PL,29.622560,-82.362176,POINT (-82.362176449 29.622560033)
1,624031377,Theft Petit - Other,07/29/2024 12:00:00 AM,07/19/2024 12:00:00 AM,0,Monday,0,Friday,GAINESVILLE,FL,4800 BLK NW 43RD ST,29.698213,-82.388973,POINT (-82.388973096 29.698212938)
2,624031364,Lost Property,07/24/2024 12:00:00 AM,07/21/2024 12:00:00 AM,0,Wednesday,0,Sunday,GAINESVILLE,FL,2300 BLK SW ARCHER RD,29.634376,-82.357197,POINT (-82.35719669 29.634376389)
3,624031366,Theft Petit - Other,07/24/2024 12:00:00 AM,07/24/2024 12:00:00 AM,0,Wednesday,0,Wednesday,GAINESVILLE,FL,1800 BLK NE 12TH AVE,29.664166,-82.304632,POINT (-82.304632382 29.664165588)
4,224011111,Baker Act,07/29/2024 05:57:57 PM,07/29/2024 04:40:56 PM,17,Monday,16,Monday,GAINESVILLE,FL,2400 BLK NW 43RD ST,29.676146,-82.388958,POINT (-82.388957608 29.67614599)

In [30]:
dfCrime['Offense Date'] = pd.to_datetime(dfCrime['Offense Date'])
dfCrime = dfCrime[(dfCrime['Offense Date'] >= '2019-01-01') & (dfCrime['Offense Date'] < '2020-01-01')]
print(dfCrime.shape)
dfCrime.head()

/var/folders/6z/0pv81j2524v8c80qsmnrbmcm0000gn/T/ipykernel_6406/3220897210.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dfCrime['Offense Date'] = pd.to_datetime(dfCrime['Offense Date'])

(13872, 14)

,ID,Incident Type,Report Date,Offense Date,Report Hour of Day,Report Day of Week,Offense Hour of Day,Offense Day of Week,City,State,Address,Latitude,Longitude,Location
202,223003015,Suspicious Incident,02/25/2023 07:02:50 PM,2019-02-25 12:00:00,19,Saturday,12,Monday,GAINESVILLE,FL,4100 BLK NW 85TH PL,NaN,NaN,NaN
2362,623023375,Identity Theft,03/22/2023 12:00:00 AM,2019-06-07 00:00:00,0,Wednesday,0,Friday,GAINESVILLE,FL,2900 BLK SW 35TH DR,29.607860,-82.374260,POINT (-82.37426 29.60786)
3960,223016288,Sexual Battery,10/11/2023 02:51:55 PM,2019-09-01 20:00:54,14,Wednesday,20,Sunday,GAINESVILLE,FL,1000 BLK SW 62ND BLVD,29.641840,-82.398311,POINT (-82.398311256 29.641840224)
4308,223016293,Fraud (obtain Money/property by False Pretense),10/11/2023 03:53:45 PM,2019-11-11 15:53:44,15,Wednesday,15,Monday,GAINESVILLE,FL,1700 BLK NW 3RD AVE,29.654017,-82.345528,POINT (-82.345528286 29.654017483)
5188,223006864,Lewd or Lascivious Molestation Offender 18 or ...,05/01/2023 10:52:00 AM,2019-08-01 00:00:01,10,Monday,0,Thursday,GAINESVILLE,FL,4100 BLK NW 7TH ST,29.691360,-82.333640,POINT (-82.33364042899996 29.691359899000076)

In [32]:
sorted(list(dfCrime['Incident Type'].unique()))

['Affray',
 'Aircraft Incident',
 'Animal Attack',
 'Animal Cruelty',
 'Animal Problem',
 'Arson',
 'Assault (aggravated)',
 'Assault (police Officer Aggravated)',
 'Assault (simple)',
 'Assist Citizen',
 'Assist Other Agency',
 'Battery (aggravated)',
 'Battery (felony)',
 'Battery (police Officer Aggravated)',
 'Battery (police Officer)',
 'Battery (security Guard/officer Aggravated)',
 'Battery (security Guard/officer)',
 'Battery (simple – With Other Weapon)',
 'Battery (simple)',
 'Battery on Detention or Commitment Facility Staff (simple)',
 'Battery on a Emergency Medicalcare Provider',
 'Battery on a Person 65 Yoa or Older',
 'Battery on a School Board Employee',
 'Bomb Threat',
 'Burglary to Business',
 'Burglary to Conveyance',
 'Burglary to Residence',
 'Burglary to a Structure',
 'City Ordinance Violation',
 'Computer Crimes',
 'Counterfeiting',
 'Crimes Against the Elderly',
 'Criminal Mischief (felony)',
 'Criminal Mischief (misdemeanor)',
 'Cyber Stalking',
 'Damage to City Property',
 'Damage to Property',
 'Dating Violence Aggravated Assault',
 'Dating Violence Aggravated Battery',
 'Dating Violence Aggravated Battery by Strangulation',
 'Dating Violence Felony Battery',
 'Dating Violence Simple Battery',
 'Dcf Investigations',
 'Death Investigation',
 'Defrauding an Innkeeper/obtain Food/lodging by Defrauding',
 'Discharge Firearm From Vehicle Within 1000 Feet of a Person',
 'Discharge Firearm in Public',
 'Disorderly Conduct',
 'Disorderly Intoxication',
 'Disruption of School Function',
 'Disturbance',
 'Disturbance Civil',
 'Domestic Aggravated Assualt',
 'Domestic Aggravated Battery',
 'Domestic Assault',
 'Domestic Battery by Strangulation',
 'Domestic Disturbance',
 'Domestic Felony Battery Repeat Offender',
 'Domestic Simple Battery',
 'Domestic Violence Injunction Violation',
 'Domestic Violence Violation of Pretrial Release-no Contact',
 'Driving Under the Influence',
 'Driving While License Suspended/revoked',
 'Driving With No License',
 'Drug Equip/paraphernalia',
 'Drug Poss. of Controlled Substance',
 'Drug Violation',
 'Drug Violation (selling)',
 'Drug Violation (sid)',
 'Drug Violation (using)',
 'Exploitation of the Elderly/disabled',
 'Exposure of Sexual Organs / Indecent Exposure',
 'Extortion/threats',
 'False Alarms of Fires First Offense',
 'False Imprisonment(kidnap)',
 'False Info to Leo',
 'Filing False Police Report',
 'Fire',
 'Flee/attempt to Elude Police Officer',
 'Found Contraband',
 'Found Property',
 'Fraud (all Other)',
 'Fraud (credit Card/atm)',
 'Fraud (forgery)',
 'Fraud (impersonation)',
 'Fraud (obtain Money/property by False Pretense)',
 'Fraud (welfare)',
 'Fraud (worthless Check)',
 'Gambling',
 'Harassing/ Obscene Calls',
 'Harassment',
 'Hinder, Delay, Prevent Communication to Law Enforcement',
 'Hit & Run',
 'Homicide',
 'Identity Theft',
 'Indecent Exposure',
 'Information',
 'Introduction of Contraband Into County Detention Facility',
 'Juvenile Problem / Disturbance',
 'Lewd or Lascivious Exhibition Offender 18',
 'Lewd or Lascivious Molestation Offender 18 or Older',
 'Lewd/lasc. Act to a Child Under 12',
 'Loitering and Prowling',
 'Lost Property',
 'Lost/stolen Vehicle Tag / Decal',
 'Making False 911 Call',
 'Missing Person',
 'Molestation of Vending Machine',
 'Noise Complaint',
 'Open House Party',
 'Poss. of Alcohol Under 21 Yoa',
 'Possess Firearm/concealed Weapon by Convicted Felon',
 'Possession of Child Pornography',
 'Possession of Less Than 20g of Cannabis',
 'Property Recovered',
 'Prostitution',
 'Reckless Driving',
 'Recovered Stolen Veh',
 'Resist/obstructing With Violence',
 'Resist/obstructing Without Violence',
 'Resisting Merchant Detainment',
 'Robbery',
 'Robbery (armed)',
 'Robbery (carjacking)',
 'Robbery (home Invasion)',
 'Robbery (strong Arm)',
 'Robbery by Sudden Snatching',
 'Runaway',
 'Seize Tag',
 'Sex Offender/predator Violation <48 Hrs',
 'Sexual Battery',
 'Shooting/throwing a Deadly Missile Into a Dwelling/vehicle',
 'Sick / Injured Person',
 'Stalking (aggravated)',
 'Stalking (simple)',
 'Stolen Property (possession/conceal)',
 'Stolen Property (selling/distributing)',
 'Stolen Vehicle (auto)',
 'Stolen Vehicle (motorcycle)',
 'Stolen Vehicle (other)',
 'Stolen Vehicle (truck)',
 'Suspicious Incident',
 'Tamper W/victim Witness',
 'Tampering With Evidence',
 'Theft Grand - Bicycle',
 'Theft Grand - From Building',
 'Theft Grand - From Vehicle (not Parts)',
 'Theft Grand - From Vehicle (vehicle Parts)',
 'Theft Grand - Other',
 'Theft Grand - Retail',
 'Theft Grand - Trailer',
 'Theft Petit - Bicycle',
 'Theft Petit - From Building',
 'Theft Petit - From Vehicle (vehicle Parts)',
 'Theft Petit - From Vehicle/not Parts',
 'Theft Petit - Other',
 'Theft Petit - Pocket-picking',
 'Theft Petit - Purse Snatching',
 'Theft Petit - Retail',
 'Theft Petit - Trailer',
 'Threatening Phone Calls',
 'Tow Report',
 'Traffic Offense (all Other)',
 'Trash Dumping',
 'Trespass',
 'Trespass Warning',
 'Utter Forged/counterfeit Bill',
 'Uttering Forged Instruments',
 'Vehicle Not Registered',
 'Verbal Threats',
 'Violation of Permanent Injunction',
 'Violation of Pretrial Release',
 'Violation of Probation',
 'Violation of Probation - Juvenile',
 'Violation of Temporary Injunction',
 'Warrant Arrest',
 'Weapons Violation',
 'Weapons Violation (possessing/concealing)',
 'Written Threat to Kill or Injure']

In [33]:
violentCrimes = ['Assault (aggravated)', 'Dating Violence Aggravated Assault', 'Domestic Aggravated Assualt', 
                 'Homicide', 'Lewd or Lascivious Molestation Offender 18 or Older', 'Lewd/lasc. Act to a Child Under 16',
                'Robbery',
 'Robbery (armed)',
 'Robbery (carjacking)',
 'Robbery (home Invasion)',
 'Robbery (strong Arm)',
 'Robbery by Sudden Snatching',
                'Sexual Battery',
 'Sexual Battery With an Object']
dfCrime = dfCrime[dfCrime['Incident Type'].isin(violentCrimes)]
print(dfCrime.shape)
dfCrime.head()

(318, 14)

,ID,Incident Type,Report Date,Offense Date,Report Hour of Day,Report Day of Week,Offense Hour of Day,Offense Day of Week,City,State,Address,Latitude,Longitude,Location
3960,223016288,Sexual Battery,10/11/2023 02:51:55 PM,2019-09-01 20:00:54,14,Wednesday,20,Sunday,GAINESVILLE,FL,1000 BLK SW 62ND BLVD,29.641840,-82.398311,POINT (-82.398311256 29.641840224)
5188,223006864,Lewd or Lascivious Molestation Offender 18 or ...,05/01/2023 10:52:00 AM,2019-08-01 00:00:01,10,Monday,0,Thursday,GAINESVILLE,FL,4100 BLK NW 7TH ST,29.691360,-82.333640,POINT (-82.33364042899996 29.691359899000076)
6586,224012208,Sexual Battery,08/21/2024 03:44:00 PM,2019-06-01 00:00:00,15,Wednesday,0,Saturday,GAINESVILLE,FL,2300 BLK NE 6TH ST,29.656958,-82.293107,POINT (-82.293107127 29.656958434)
7929,223008830,Sexual Battery,06/02/2023 08:15:00 PM,2019-11-02 01:30:00,20,Friday,1,Saturday,GAINESVILLE,FL,1600 BLK SW 51ST TER,29.637350,-82.397355,POINT (-82.39735505899995 29.637350397000034)
23440,225001803,Sexual Battery,02/06/2025 05:21:29 PM,2019-02-06 17:21:28,17,Thursday,17,Wednesday,GAINESVILLE,FL,100 BLK SE 26TH TER,29.650940,-82.289720,POINT (-82.28972 29.65094)

In [34]:
list(dfCrime.columns)

['ID',
 'Incident Type',
 'Report Date',
 'Offense Date',
 'Report Hour of Day',
 'Report Day of Week',
 'Offense Hour of Day',
 'Offense Day of Week',
 'City',
 'State',
 'Address',
 'Latitude',
 'Longitude',
 'Location']

In [35]:
dfCrime = dfCrime[['Address',  'Longitude', 'Latitude']]
dfCrime.head()

                     Address  Longitude   Latitude
3960   1000 BLK SW 62ND BLVD -82.398311  29.641840
5188      4100 BLK NW 7TH ST -82.333640  29.691360
6586      2300 BLK NE 6TH ST -82.293107  29.656958
7929    1600 BLK SW 51ST TER -82.397355  29.637350
23440    100 BLK SE 26TH TER -82.289720  29.650940

In [36]:
# make our lon and lat into a point type for spacial join
dfCrime['geometry'] = dfCrime.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)
dfCrime = dfCrime[['Address', 'geometry']]
print(dfCrime.shape)
dfCrime.head()

(318, 2)

                     Address                                      geometry
3960   1000 BLK SW 62ND BLVD            POINT (-82.398311256 29.641840224)
5188      4100 BLK NW 7TH ST  POINT (-82.33364042899996 29.69135989900008)
6586      2300 BLK NE 6TH ST            POINT (-82.293107127 29.656958434)
7929    1600 BLK SW 51ST TER  POINT (-82.39735505899995 29.63735039700003)
23440    100 BLK SE 26TH TER                    POINT (-82.28972 29.65094)

In [37]:
# Read shapefile (automatically loads .shp, .shx, .dbf)
gdf = gpd.read_file("/Users/austincoffelt/Documents/Rent-Walk-Local/cb_2018_12_bg_500k/cb_2018_12_bg_500k.shp")

# View the first 5 rows
print(gdf.shape)
gdf.head()

(11409, 11)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,12,011,010104,1,1500000US120110101041,120110101041,1,BG,418681,571688,"POLYGON ((-80.081 26.321, -80.08 26.321, -80.0..."
1,12,005,002705,1,1500000US120050027051,120050027051,1,BG,1127491,2212287,"POLYGON ((-85.817 30.187, -85.817 30.188, -85...."
2,12,057,006400,1,1500000US120570064001,120570064001,1,BG,515469,99623,"POLYGON ((-82.535 27.922, -82.534 27.923, -82...."
3,12,011,031205,1,1500000US120110312051,120110312051,1,BG,165404,17385,"POLYGON ((-80.09 26.25, -80.089 26.253, -80.08..."
4,12,103,020209,1,1500000US121030202091,121030202091,1,BG,622112,298583,"POLYGON ((-82.663 27.708, -82.663 27.708, -82...."

In [38]:
# make sure points match the crs of gdf
gdfPoints = gpd.GeoDataFrame(
    dfCrime, 
    geometry='geometry',
    crs="EPSG:4269"  # WGS84 coordinate reference system
)
gdfPoints.head()

                     Address                geometry
3960   1000 BLK SW 62ND BLVD  POINT (-82.398 29.642)
5188      4100 BLK NW 7TH ST  POINT (-82.334 29.691)
6586      2300 BLK NE 6TH ST  POINT (-82.293 29.657)
7929    1600 BLK SW 51ST TER  POINT (-82.397 29.637)
23440    100 BLK SE 26TH TER   POINT (-82.29 29.651)

In [39]:
# Basic spatial join (points within polygons)
result = gpd.sjoin(
    gdfPoints, 
    gdf,
    how="left",       # 'left', 'right', or 'inner'
    predicate="within" # Spatial relationship
)
print(result.shape)
result.head()

(318, 13)

,Address,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
3960,1000 BLK SW 62ND BLVD,POINT (-82.398 29.642),5226.0,12,001,001604,4,1500000US120010016044,120010016044,4,BG,1761503.0,68635.0
5188,4100 BLK NW 7TH ST,POINT (-82.334 29.691),11349.0,12,001,000302,2,1500000US120010003022,120010003022,2,BG,796989.0,0.0
6586,2300 BLK NE 6TH ST,POINT (-82.293 29.657),4046.0,12,001,000600,3,1500000US120010006003,120010006003,3,BG,5939651.0,102700.0
7929,1600 BLK SW 51ST TER,POINT (-82.397 29.637),5226.0,12,001,001604,4,1500000US120010016044,120010016044,4,BG,1761503.0,68635.0
23440,100 BLK SE 26TH TER,POINT (-82.29 29.651),4046.0,12,001,000600,3,1500000US120010006003,120010006003,3,BG,5939651.0,102700.0

In [40]:
crime = result['AFFGEOID'].value_counts()
crime

AFFGEOID
1500000US120010006001    20
1500000US120010014003    16
1500000US120010006003    14
1500000US120010015201    13
1500000US120010005001    12
                         ..
1500000US120010022043     1
1500000US120010017022     1
1500000US120010012032     1
1500000US120010010002     1
1500000US120010015161     1
Name: count, Length: 66, dtype: int64

In [41]:
# export as a csv
crime.to_csv('/Users/austincoffelt/Documents/RW Data/Gaines_Violent_Crime_BG.csv')